In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("academy_awards.db")

In [3]:
pd.read_sql_query("SELECT * FROM nominations LIMIT 20;", conn)

# Each row describes an individual actor's nomination.

,id,ceremony_id,category,nominee,movie,character,won
0,1,10,Actor -- Leading Role,Javier Bardem,Biutiful,Uxbal,0
1,2,10,Actor -- Leading Role,Jeff Bridges,True Grit,Rooster Cogburn,0
2,3,10,Actor -- Leading Role,Jesse Eisenberg,The Social Network,Mark Zuckerberg,0
3,4,10,Actor -- Leading Role,Colin Firth,The King's Speech,King George VI,1
4,5,10,Actor -- Leading Role,James Franco,127 Hours,Aron Ralston,0
5,6,10,Actor -- Supporting Role,Christian Bale,The Fighter,Dicky Eklund,1
6,7,10,Actor -- Supporting Role,John Hawkes,Winter's Bone,Teardrop,0
7,8,10,Actor -- Supporting Role,Jeremy Renner,The Town,James Coughlin,0
8,9,10,Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right,Paul,0
9,10,10,Actor -- Supporting Role,Geoffrey Rush,The King's Speech,Lionel Logue,0
10,11,9,Actor -- Leading Role,Jeff Bridges,Crazy Heart,Bad Blake,1
11,12,9,Actor -- Leading Role,George Clooney,Up in the Air,Ryan Bingham,0
12,13,9,Actor -- Leading Role,Colin Firth,A Single Man,George,0
13,14,9,Actor -- Leading Role,Morgan Freeman,Invictus,Nelson Mandela,0
14,15,9,Actor -- Leading Role,Jeremy Renner,The Hurt Locker,Staff Sergeant William James,0
15,16,9,Actor -- Supporting Role,Matt Damon,Invictus,Francois Pienaar,0
16,17,9,Actor -- Supporting Role,Woody Harrelson,The Messenger,Captain Tony Stone,0
17,18,9,Actor -- Supporting Role,Christopher Plummer,The Last Station,Tolstoy,0
18,19,9,Actor -- Supporting Role,Stanley Tucci,The Lovely Bones,George Harvey,0
19,20,9,Actor -- Supporting Role,Christoph Waltz,Inglourious Basterds,Col. Hans Landa,1

**ceremony_id** - integer field, foreign key reference to the id column from the ceremonies table.

In [4]:
pd.read_sql_query('PRAGMA table_info(nominations);', conn)

   cid         name     type  notnull dflt_value  pk
0    0           id  integer        0       None   1
1    1  ceremony_id  integer        0       None   0
2    2     category     text        0       None   0
3    3      nominee     text        0       None   0
4    4        movie     text        0       None   0
5    5    character     text        0       None   0
6    6          won  boolean        0       None   0

In [5]:
pd.read_sql_query("SELECT * FROM ceremonies;", conn)

# Each row describes an individual Academy Awards ceremony.

    id  year             host
0    0  2000    Billy Crystal
1    1  2001     Steve Martin
2    2  2002  Whoopi Goldberg
3    3  2003     Steve Martin
4    4  2004    Billy Crystal
5    5  2005       Chris Rock
6    6  2006      Jon Stewart
7    7  2007  Ellen DeGeneres
8    8  2008      Jon Stewart
9    9  2009     Hugh Jackman
10  10  2010     Steve Martin

In [6]:
pd.read_sql_query('PRAGMA table_info(ceremonies);', conn)

   cid  name     type  notnull dflt_value  pk
0    0    id  integer        0       None   1
1    1  year  integer        0       None   0
2    2  host     text        0       None   0

In [7]:
query = 'SELECT * from nominations INNER JOIN ceremonies ON nominations.ceremony_id==ceremonies.id;'
pd.read_sql_query(query, conn)

,id,ceremony_id,category,nominee,movie,character,won,id,year,host
0,1,10,Actor -- Leading Role,Javier Bardem,Biutiful,Uxbal,0,10,2010,Steve Martin
1,2,10,Actor -- Leading Role,Jeff Bridges,True Grit,Rooster Cogburn,0,10,2010,Steve Martin
2,3,10,Actor -- Leading Role,Jesse Eisenberg,The Social Network,Mark Zuckerberg,0,10,2010,Steve Martin
3,4,10,Actor -- Leading Role,Colin Firth,The King's Speech,King George VI,1,10,2010,Steve Martin
4,5,10,Actor -- Leading Role,James Franco,127 Hours,Aron Ralston,0,10,2010,Steve Martin
5,6,10,Actor -- Supporting Role,Christian Bale,The Fighter,Dicky Eklund,1,10,2010,Steve Martin
6,7,10,Actor -- Supporting Role,John Hawkes,Winter's Bone,Teardrop,0,10,2010,Steve Martin
7,8,10,Actor -- Supporting Role,Jeremy Renner,The Town,James Coughlin,0,10,2010,Steve Martin
8,9,10,Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right,Paul,0,10,2010,Steve Martin
9,10,10,Actor -- Supporting Role,Geoffrey Rush,The King's Speech,Lionel Logue,0,10,2010,Steve Martin
10,11,9,Actor -- Leading Role,Jeff Bridges,Crazy Heart,Bad Blake,1,9,2009,Hugh Jackman
11,12,9,Actor -- Leading Role,George Clooney,Up in the Air,Ryan Bingham,0,9,2009,Hugh Jackman
12,13,9,Actor -- Leading Role,Colin Firth,A Single Man,George,0,9,2009,Hugh Jackman
13,14,9,Actor -- Leading Role,Morgan Freeman,Invictus,Nelson Mandela,0,9,2009,Hugh Jackman
14,15,9,Actor -- Leading Role,Jeremy Renner,The Hurt Locker,Staff Sergeant William James,0,9,2009,Hugh Jackman
15,16,9,Actor -- Supporting Role,Matt Damon,Invictus,Francois Pienaar,0,9,2009,Hugh Jackman
16,17,9,Actor -- Supporting Role,Woody Harrelson,The Messenger,Captain Tony Stone,0,9,2009,Hugh Jackman
17,18,9,Actor -- Supporting Role,Christopher Plummer,The Last Station,Tolstoy,0,9,2009,Hugh Jackman
18,19,9,Actor -- Supporting Role,Stanley Tucci,The Lovely Bones,George Harvey,0,9,2009,Hugh Jackman
19,20,9,Actor -- Supporting Role,Christoph Waltz,Inglourious Basterds,Col. Hans Landa,1,9,2009,Hugh Jackman
20,21,8,Actor -- Leading Role,Richard Jenkins,The Visitor,Walter,0,8,2008,Jon Stewart
21,22,8,Actor -- Leading Role,Frank Langella,Frost/Nixon,Richard Nixon,0,8,2008,Jon Stewart
22,23,8,Actor -- Leading Role,Sean Penn,Milk,Harvey Milk,1,8,2008,Jon Stewart
23,24,8,Actor -- Leading Role,Brad Pitt,The Curious Case of Benjamin Button,Benjamin Button,0,8,2008,Jon Stewart
24,25,8,Actor -- Leading Role,Mickey Rourke,The Wrestler,Randy,0,8,2008,Jon Stewart
25,26,8,Actor -- Supporting Role,Josh Brolin,Milk,Dan White,0,8,2008,Jon Stewart
26,27,8,Actor -- Supporting Role,Robert Downey Jr.,Tropic Thunder,Kirk Lazarus,0,8,2008,Jon Stewart
27,28,8,Actor -- Supporting Role,Philip Seymour Hoffman,Doubt,Father Brendan Flynn,0,8,2008,Jon Stewart
28,29,8,Actor -- Supporting Role,Heath Ledger,The Dark Knight,Joker,1,8,2008,Jon Stewart
29,30,8,Actor -- Supporting Role,Michael Shannon,Revolutionary Road,John Givings,0,8,2008,Jon Stewart
...,...,...,...,...,...,...,...,...,...,...
190,191,2,Actress -- Leading Role,Salma Hayek,Frida,Frida Kahlo,0,2,2002,Whoopi Goldberg
191,192,2,Actress -- Leading Role,Nicole Kidman,The Hours,Virginia Woolf,1,2,2002,Whoopi Goldberg
192,193,2,Actress -- Leading Role,Diane Lane,Unfaithful,Connie Sumner,0,2,2002,Whoopi Goldberg
193,194,2,Actress -- Leading Role,Julianne Moore,Far from Heaven,Cathy Whitaker,0,2,2002,Whoopi Goldberg
194,195,2,Actress -- Leading Role,Renée Zellweger,Chicago,Roxie Hart,0,2,2002,Whoopi Goldberg
195,196,2,Actress -- Supporting Role,Kathy Bates,About Schmidt,Roberta Hertzel,0,2,2002,Whoopi Goldberg
196,197,2,Actress -- Supporting Role,Julianne Moore,The Hours,Laura Brown,0,2,2002,Whoopi Goldberg
197,198,2,Actress -- Supporting Role,Queen Latifah,Chicago,Matron Mama Morton,0,2,2002,Whoopi Goldberg
198,199,2,Actress -- Supporting Role,Meryl Streep,Adaptation,Susan Orlean,0,2,2002,Whoopi Goldberg
199,200,2,Actress -- Supporting Role,Catherine Zeta-Jones,Chicago,Velma Kelly,1,2,2002,Whoopi Goldberg
200,201,1,Actress -- Leading Role,Halle Berry,Monster's Ball,Leticia Musgrove,1,1,2001,Steve Martin
201,202,1,Actress -- Leading Role,Judi Dench,Iris,Iris Murdoch,0,1,2001,Steve Martin
202,203,1,Actress -- Leading Role,Nicole Kidman,Moulin Rouge,Satine,0,1,2001,Steve Martin
203,204,1,Actress -- Leading Role,Sissy Spacek,In the Bedroom,Ruth Fowler,0,1,2001,Steve Martin
204,205,1,Actress -- Leading Role,Renée Zellweger,Bridget Jones's Diary,Bridget Jones,0,1,2001,Steve Martin
205,206,1,Actress -- Supporting Role,Jennifer Connelly,A Beautiful Mind,Alicia Nash,1,1,2001,Steve Martin
206,207,1,Actress -- Supporting Role,Helen Mirren,Gosford Park,Mrs. Wilson,0,1,2001,Steve Martin
207,208,1,Actress -- Supporting Role,Maggie Smith,Gosford Park,"Constance, Countess of Trentham",0,1,2001,Steve Martin
208,209,1,Actress -- Supporting Role,Marisa Tomei,In the Bedroom,Natalie Strout,0,1,2001,Steve Martin
209,210,1,Actress -- Supporting Role,Kate Winslet,Iris,Young Iris Murdoch,0,1,2001,Steve Martin
210,211,0,Actress -- Leading Role,Joan Allen,The Contender,Laine Hanson,0,0,2000,Billy Crystal
211,212,0,Actress -- Leading Role,Juliette Binoche,Chocolat,Vianne Rocher,0,0,2000,Billy Crystal
212,213,0,Actress -- Leading Role,Ellen Burstyn,Requiem for a Dream,Sara Goldfarb,0,0,2000,Billy Crystal
213,214,0,Actress -- Leading Role,Laura Linney,You Can Count on Me,Samantha 'Sammy' Prescott,0,0,2000,Billy Crystal
214,215,0,Actress -- Leading Role,Julia Roberts,Erin Brockovich,Erin Brockovich,1,0,2000,Billy Crystal
215,216,0,Actress -- Supporting Role,Judi Dench,Chocolat,Armande Voizin,0,0,2000,Billy Crystal
216,217,0,Actress -- Supporting Role,Marcia Gay Harden,Pollock,Lee Krasner,1,0,2000,Billy Crystal
217,218,0,Actress -- Supporting Role,Kate Hudson,Almost Famous,Penny Lane,0,0,2000,Billy Crystal
218,219,0,Actress -- Supporting Role,Frances McDormand,Almost Famous,Elaine Miller,0,0,2000,Billy Crystal
219,220,0,Actress -- Supporting Role,Julie Walters,Billy Elliot,Mrs. Wilkinson,0,0,2000,Billy Crystal

In [8]:
query = 'SELECT * from ceremonies INNER JOIN nominations ON nominations.ceremony_id==ceremonies.id;'
pd.read_sql_query(query, conn)

,id,year,host,id,ceremony_id,category,nominee,movie,character,won
0,10,2010,Steve Martin,1,10,Actor -- Leading Role,Javier Bardem,Biutiful,Uxbal,0
1,10,2010,Steve Martin,2,10,Actor -- Leading Role,Jeff Bridges,True Grit,Rooster Cogburn,0
2,10,2010,Steve Martin,3,10,Actor -- Leading Role,Jesse Eisenberg,The Social Network,Mark Zuckerberg,0
3,10,2010,Steve Martin,4,10,Actor -- Leading Role,Colin Firth,The King's Speech,King George VI,1
4,10,2010,Steve Martin,5,10,Actor -- Leading Role,James Franco,127 Hours,Aron Ralston,0
5,10,2010,Steve Martin,6,10,Actor -- Supporting Role,Christian Bale,The Fighter,Dicky Eklund,1
6,10,2010,Steve Martin,7,10,Actor -- Supporting Role,John Hawkes,Winter's Bone,Teardrop,0
7,10,2010,Steve Martin,8,10,Actor -- Supporting Role,Jeremy Renner,The Town,James Coughlin,0
8,10,2010,Steve Martin,9,10,Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right,Paul,0
9,10,2010,Steve Martin,10,10,Actor -- Supporting Role,Geoffrey Rush,The King's Speech,Lionel Logue,0
10,9,2009,Hugh Jackman,11,9,Actor -- Leading Role,Jeff Bridges,Crazy Heart,Bad Blake,1
11,9,2009,Hugh Jackman,12,9,Actor -- Leading Role,George Clooney,Up in the Air,Ryan Bingham,0
12,9,2009,Hugh Jackman,13,9,Actor -- Leading Role,Colin Firth,A Single Man,George,0
13,9,2009,Hugh Jackman,14,9,Actor -- Leading Role,Morgan Freeman,Invictus,Nelson Mandela,0
14,9,2009,Hugh Jackman,15,9,Actor -- Leading Role,Jeremy Renner,The Hurt Locker,Staff Sergeant William James,0
15,9,2009,Hugh Jackman,16,9,Actor -- Supporting Role,Matt Damon,Invictus,Francois Pienaar,0
16,9,2009,Hugh Jackman,17,9,Actor -- Supporting Role,Woody Harrelson,The Messenger,Captain Tony Stone,0
17,9,2009,Hugh Jackman,18,9,Actor -- Supporting Role,Christopher Plummer,The Last Station,Tolstoy,0
18,9,2009,Hugh Jackman,19,9,Actor -- Supporting Role,Stanley Tucci,The Lovely Bones,George Harvey,0
19,9,2009,Hugh Jackman,20,9,Actor -- Supporting Role,Christoph Waltz,Inglourious Basterds,Col. Hans Landa,1
20,8,2008,Jon Stewart,21,8,Actor -- Leading Role,Richard Jenkins,The Visitor,Walter,0
21,8,2008,Jon Stewart,22,8,Actor -- Leading Role,Frank Langella,Frost/Nixon,Richard Nixon,0
22,8,2008,Jon Stewart,23,8,Actor -- Leading Role,Sean Penn,Milk,Harvey Milk,1
23,8,2008,Jon Stewart,24,8,Actor -- Leading Role,Brad Pitt,The Curious Case of Benjamin Button,Benjamin Button,0
24,8,2008,Jon Stewart,25,8,Actor -- Leading Role,Mickey Rourke,The Wrestler,Randy,0
25,8,2008,Jon Stewart,26,8,Actor -- Supporting Role,Josh Brolin,Milk,Dan White,0
26,8,2008,Jon Stewart,27,8,Actor -- Supporting Role,Robert Downey Jr.,Tropic Thunder,Kirk Lazarus,0
27,8,2008,Jon Stewart,28,8,Actor -- Supporting Role,Philip Seymour Hoffman,Doubt,Father Brendan Flynn,0
28,8,2008,Jon Stewart,29,8,Actor -- Supporting Role,Heath Ledger,The Dark Knight,Joker,1
29,8,2008,Jon Stewart,30,8,Actor -- Supporting Role,Michael Shannon,Revolutionary Road,John Givings,0
...,...,...,...,...,...,...,...,...,...,...
190,2,2002,Whoopi Goldberg,191,2,Actress -- Leading Role,Salma Hayek,Frida,Frida Kahlo,0
191,2,2002,Whoopi Goldberg,192,2,Actress -- Leading Role,Nicole Kidman,The Hours,Virginia Woolf,1
192,2,2002,Whoopi Goldberg,193,2,Actress -- Leading Role,Diane Lane,Unfaithful,Connie Sumner,0
193,2,2002,Whoopi Goldberg,194,2,Actress -- Leading Role,Julianne Moore,Far from Heaven,Cathy Whitaker,0
194,2,2002,Whoopi Goldberg,195,2,Actress -- Leading Role,Renée Zellweger,Chicago,Roxie Hart,0
195,2,2002,Whoopi Goldberg,196,2,Actress -- Supporting Role,Kathy Bates,About Schmidt,Roberta Hertzel,0
196,2,2002,Whoopi Goldberg,197,2,Actress -- Supporting Role,Julianne Moore,The Hours,Laura Brown,0
197,2,2002,Whoopi Goldberg,198,2,Actress -- Supporting Role,Queen Latifah,Chicago,Matron Mama Morton,0
198,2,2002,Whoopi Goldberg,199,2,Actress -- Supporting Role,Meryl Streep,Adaptation,Susan Orlean,0
199,2,2002,Whoopi Goldberg,200,2,Actress -- Supporting Role,Catherine Zeta-Jones,Chicago,Velma Kelly,1
200,1,2001,Steve Martin,201,1,Actress -- Leading Role,Halle Berry,Monster's Ball,Leticia Musgrove,1
201,1,2001,Steve Martin,202,1,Actress -- Leading Role,Judi Dench,Iris,Iris Murdoch,0
202,1,2001,Steve Martin,203,1,Actress -- Leading Role,Nicole Kidman,Moulin Rouge,Satine,0
203,1,2001,Steve Martin,204,1,Actress -- Leading Role,Sissy Spacek,In the Bedroom,Ruth Fowler,0
204,1,2001,Steve Martin,205,1,Actress -- Leading Role,Renée Zellweger,Bridget Jones's Diary,Bridget Jones,0
205,1,2001,Steve Martin,206,1,Actress -- Supporting Role,Jennifer Connelly,A Beautiful Mind,Alicia Nash,1
206,1,2001,Steve Martin,207,1,Actress -- Supporting Role,Helen Mirren,Gosford Park,Mrs. Wilson,0
207,1,2001,Steve Martin,208,1,Actress -- Supporting Role,Maggie Smith,Gosford Park,"Constance, Countess of Trentham",0
208,1,2001,Steve Martin,209,1,Actress -- Supporting Role,Marisa Tomei,In the Bedroom,Natalie Strout,0
209,1,2001,Steve Martin,210,1,Actress -- Supporting Role,Kate Winslet,Iris,Young Iris Murdoch,0
210,0,2000,Billy Crystal,211,0,Actress -- Leading Role,Joan Allen,The Contender,Laine Hanson,0
211,0,2000,Billy Crystal,212,0,Actress -- Leading Role,Juliette Binoche,Chocolat,Vianne Rocher,0
212,0,2000,Billy Crystal,213,0,Actress -- Leading Role,Ellen Burstyn,Requiem for a Dream,Sara Goldfarb,0
213,0,2000,Billy Crystal,214,0,Actress -- Leading Role,Laura Linney,You Can Count on Me,Samantha 'Sammy' Prescott,0
214,0,2000,Billy Crystal,215,0,Actress -- Leading Role,Julia Roberts,Erin Brockovich,Erin Brockovich,1
215,0,2000,Billy Crystal,216,0,Actress -- Supporting Role,Judi Dench,Chocolat,Armande Voizin,0
216,0,2000,Billy Crystal,217,0,Actress -- Supporting Role,Marcia Gay Harden,Pollock,Lee Krasner,1
217,0,2000,Billy Crystal,218,0,Actress -- Supporting Role,Kate Hudson,Almost Famous,Penny Lane,0
218,0,2000,Billy Crystal,219,0,Actress -- Supporting Role,Frances McDormand,Almost Famous,Elaine Miller,0
219,0,2000,Billy Crystal,220,0,Actress -- Supporting Role,Julie Walters,Billy Elliot,Mrs. Wilkinson,0

We instead chose to **normalize** the data, which involves separating data into smaller tables with less redundant information and creating relations between the appropriate tables.

You can read more about the benefits of **database normalization** [here](https://en.wikipedia.org/wiki/Database_normalization#Objectives).

There are many types of relations you can create between tables to represent the links between columns. In this mission, we'll focus on the 2 most common relations:
* one-to-many.
* many-to-many.

A **one-to-many** relation exists whenever many rows in one table need to relate to one row in the other table.

Here are some other examples of **one-to-many** relations:
* a car insurance policy can have multiple people on it, but each person can only belong to one policy.
* a mother can have many children, but each child can only have one birth mother.
* a reporter can have many articles but each article can only have one associated reporter.

In [9]:
# Return all of the movies that won an award in 2010.
query = 'SELECT movie FROM nominations \
INNER JOIN ceremonies \
ON nominations.ceremony_id==ceremonies.id \
WHERE ceremonies.year==2010 AND nominations.won==1;'
pd.read_sql_query(query, conn)

               movie
0  The King's Speech
1        The Fighter
2         Black Swan
3        The Fighter

In [10]:
# Select the year and host columns from ceremonies and the movie and nominee columns from nominations:
query = 'SELECT ceremonies.year,ceremonies.host,nominations.movie,nominations.nominee \
FROM nominations \
INNER JOIN ceremonies \
ON nominations.ceremony_id==ceremonies.id \
WHERE ceremonies.year==2010;'
pd.read_sql_query(query, conn)

    year          host                   movie               nominee
0   2010  Steve Martin                Biutiful         Javier Bardem
1   2010  Steve Martin               True Grit          Jeff Bridges
2   2010  Steve Martin      The Social Network       Jesse Eisenberg
3   2010  Steve Martin       The King's Speech           Colin Firth
4   2010  Steve Martin               127 Hours          James Franco
5   2010  Steve Martin             The Fighter        Christian Bale
6   2010  Steve Martin           Winter's Bone           John Hawkes
7   2010  Steve Martin                The Town         Jeremy Renner
8   2010  Steve Martin  The Kids Are All Right          Mark Ruffalo
9   2010  Steve Martin       The King's Speech         Geoffrey Rush
10  2010  Steve Martin  The Kids Are All Right        Annette Bening
11  2010  Steve Martin             Rabbit Hole         Nicole Kidman
12  2010  Steve Martin           Winter's Bone     Jennifer Lawrence
13  2010  Steve Martin              Black Swan       Natalie Portman
14  2010  Steve Martin          Blue Valentine     Michelle Williams
15  2010  Steve Martin             The Fighter             Amy Adams
16  2010  Steve Martin       The King's Speech  Helena Bonham Carter
17  2010  Steve Martin             The Fighter           Melissa Leo
18  2010  Steve Martin               True Grit      Hailee Steinfeld
19  2010  Steve Martin          Animal Kingdom          Jacki Weaver

In [11]:
# A query that returns all of the years that the actress Natalie Portman was nominated for an award.
query = 'SELECT ceremonies.year,movie FROM nominations \
INNER JOIN ceremonies \
ON nominations.ceremony_id==ceremonies.id \
WHERE nominations.nominee=="Natalie Portman";'

portman_movies = conn.execute(query).fetchall()
print(portman_movies)

[(2010, 'Black Swan'), (2004, 'Closer')]

To model a **many-to-many** relationship, we need to create a separate table that contains the foreign keys to each of the tables that we're creating a many-to-many relationship between.

This table is called a **join table**, but is often referenced by [many other names](https://en.wikipedia.org/wiki/Associative_entity).

The rows in the join table contain the foreign keys to the 2 other tables.

Creating a join table is similar to creating a regular table except that there need to be 2 foreign columns that reference the 2 tables in the many-to-many relationship:

**CREATE table movies_actors (  
id INTEGER PRIMARY KEY,  
movie_id INTEGER REFERENCES movies(id),  
actor_id INTEGER REFERENCES actors(id)  
);**

In [12]:
pd.read_sql_query("SELECT * FROM movies_actors LIMIT 10;", conn)

   id  movie_id  actor_id
0   1         1         1
1   2         2         2
2   3         3         3
3   4         4         4
4   5         5         5
5   6         6         6
6   7         7         7
7   8         8         8
8   9         9         9
9  10         4        10

In [13]:
pd.read_sql_query("SELECT * FROM actors LIMIT 10;", conn)

   id            actor
0   1    Javier Bardem
1   2     Jeff Bridges
2   3  Jesse Eisenberg
3   4      Colin Firth
4   5     James Franco
5   6   Christian Bale
6   7      John Hawkes
7   8    Jeremy Renner
8   9     Mark Ruffalo
9  10    Geoffrey Rush

In [14]:
pd.read_sql_query("SELECT * FROM movies LIMIT 10;", conn)

   id                   movie
0   1                Biutiful
1   2               True Grit
2   3      The Social Network
3   4       The King's Speech
4   5               127 Hours
5   6             The Fighter
6   7           Winter's Bone
7   8                The Town
8   9  The Kids Are All Right
9  10             Crazy Heart

In [15]:
# A query that returns the first 5 rows in movies_actors.
query = 'SELECT * FROM movies_actors LIMIT 5;'

five_join_table = conn.execute(query).fetchall()
five_join_table

[(1, 1, 1), (2, 2, 2), (3, 3, 3), (4, 4, 4), (5, 5, 5)]

In [16]:
# A query that returns the first 5 rows in actors.
query = 'SELECT * FROM actors LIMIT 5;'

five_actors = conn.execute(query).fetchall()
five_actors

[(1, 'Javier Bardem'),
 (2, 'Jeff Bridges'),
 (3, 'Jesse Eisenberg'),
 (4, 'Colin Firth'),
 (5, 'James Franco')]

In [17]:
# A query that returns the first 5 rows in movies.
query = 'SELECT * FROM movies LIMIT 5;'

five_movies = conn.execute(query).fetchall()
five_movies

[(1, 'Biutiful'),
 (2, 'True Grit'),
 (3, 'The Social Network'),
 (4, "The King's Speech"),
 (5, '127 Hours')]