Use the SQLite Command Shell to explore factbook.db.

*<font color="#666666">Connect to factbook.db using the SQLite Command Shell.</font>*  
$ **sqlite3 factbook.db**  
SQLite version 3.13.0 2016-05-18 10:57:30  
Enter ".help" for usage hints.

*<font color="#666666">to see a list of the tables in the database.</font>*  
sqlite> **.tables**  
facts

*<font color="#666666">If you type .header on, you'll see the column headers when you run queries.</font>*  
sqlite> **.header on**

*<font color="#666666">When you're done with the SQLite Command Shell, type .quit.</font>*  
sqlite> **.quit**

*<font color="#666666">This will show us all of the rows in the facts table.</font>*  
sqlite> **SELECT * FROM facts;**  
id|code|name|area|area_land|area_water|population|population_growth|birth_rate|death_rate|migration_rate|created_at|updated_at  
1|af|Afghanistan|652230|652230|0|32564342|2.32|38.57|13.89|1.51|2015-11-01 13:19:49.461734|2015-11-01 13:19:49.461734  
...  
261|xx|World||||7256490011|1.08|18.6|7.8||2015-11-01 13:39:09.910721|2015-11-01 13:39:09.910721

sqlite> **SELECT * FROM facts ORDER BY area_land ASC LIMIT 10;**
id|code|name|area|area_land|area_water|population|population_growth|birth_rate|death_rate|migration_rate|created_at|updated_at  
58|et|Ethiopia|1104300||104300|99465819|2.89|37.27|8.19|0.22|2015-11-01 13:24:44.456431|2015-11-01 13:24:44.456431  
162|od|South Sudan|644329|||12042910|4.02|36.91|8.18|11.47|2015-11-01 13:33:16.279312|2015-11-01 13:33:16.279312  
165|su|Sudan|1861484|||36108853|1.72|29.19|7.66|4.29|2015-11-01 13:33:31.360884|2015-11-01 13:33:31.360884  
197|ee|European Union|4324782|||513949445|0.25|10.2|10.2|2.5|2015-11-01 13:36:06.493657|2015-11-01 13:36:06.493657  
210|fs|French Southern and Antarctic Lands|||||||||2015-11-01 13:36:43.532683|2015-11-01 13:36:43.532683  
212|tb|Saint Barthelemy||||7237|||||2015-11-01 13:36:49.817701|2015-11-01 13:36:49.817701  
225|ax|Akrotiri|123|||15700|||||2015-11-01 13:37:26.504715|2015-11-01 13:37:26.504715  
231|dx|Dhekelia|130|||15700|||||2015-11-01 13:37:45.262682|2015-11-01 13:37:45.262682  
249|um|United States Pacific Island Wildlife Refuges|||||||||2015-11-01 13:38:42.851318|2015-11-01 13:38:42.851318  
256|xq|Arctic Ocean|||||||||2015-11-01 13:38:59.784157|2015-11-01 13:38:59.784157

*<font color="#666666">The data is fairly messy, and some values in the area_land column are missing. Add WHERE area_land != "" to the query before the ORDER BY clause to remove the invalid rows.</font>*

sqlite> **SELECT * FROM facts WHERE area_land!="" ORDER BY area_land ASC LIMIT 10;**
id|code|name|area|area_land|area_water|population|population_growth|birth_rate|death_rate|migration_rate|created_at|updated_at  
190|vt|Holy See (Vatican City)|0|0|0|842|0.0||||2015-11-01 13:35:32.774433|2015-11-01 13:35:32.774433  
117|mn|Monaco|2|2|0|30535|0.12|6.65|9.24|3.83|2015-11-01 13:29:41.926640|2015-11-01 13:29:41.926640  
201|cr|Coral Sea Islands|3|3|0||||||2015-11-01 13:36:14.538308|2015-11-01 13:36:14.538308  
198|at|Ashmore and Cartier Islands|5|5|0||||||2015-11-01 13:36:08.110412|2015-11-01 13:36:08.110412  
244|bq|Navassa Island|5|5|0||||||2015-11-01 13:38:26.425234|2015-11-01 13:38:26.425234  
253|pg|Spratly Islands|5|5|0||||||2015-11-01 13:38:51.305215|2015-11-01 13:38:51.305215  
208|ip|Clipperton Island|6|6|0||||||2015-11-01 13:36:36.882778|2015-11-01 13:36:36.882778  
233|gi|Gibraltar|6|6|0|29258|0.24|14.08|8.37|3.28|2015-11-01 13:37:51.980087|2015-11-01 13:37:51.980087  
248|wq|Wake Island|6|6|0||||||2015-11-01 13:38:40.217471|2015-11-01 13:38:40.217471  
252|pf|Paracel Islands|7|7|0||||||2015-11-01 13:38:49.622992|2015-11-01 13:38:49.622992

The sqlite3 library, which comes with Python by default, allows us to connect to SQLite databases.  
To do this, we open a database connection, then create an object that can run queries.

In [1]:
import sqlite3

In [2]:
# Creates a Connection object.
conn = sqlite3.connect('factbook.db')

In [3]:
# Create a Cursor instance, which can execute queries.
c = conn.cursor()

In [4]:
# Execute a query.
c.execute('SELECT * FROM facts;')

# Display the results.
print(c.fetchall())

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51, '2015-11-01 13:19:49.461734', '2015-11-01 13:19:49.461734'), (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3, '2015-11-01 13:19:54.431082', '2015-11-01 13:19:54.431082'), (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92, '2015-11-01 13:19:59.961286', '2015-11-01 13:19:59.961286'), (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0, '2015-11-01 13:20:03.659945', '2015-11-01 13:20:03.659945'), (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46, '2015-11-01 13:20:08.625072', '2015-11-01 13:20:08.625072'), (6, 'ac', 'Antigua and Barbuda', 442, 442, 0, 92436, 1.24, 15.85, 5.69, 2.21, '2015-11-01 13:20:13.049627', '2015-11-01 13:20:13.049627'), (7, 'ar', 'Argentina', 2780400, 2736690, 43710, 43431886, 0.93, 16.64, 7.33, 0.0, '2015-11-01 13:20:18.233063', '2015-11-01 13:20:18.233063'), (8, 'am', 'Armenia', 29743, 28203, 1540, 3056382, 0.15, 13.61, 9.34, 5.8, '2015-11-01 13:20:23.048753', '2015-11-01 13:20:23.048753'), (9, 'as', 'Australia', 7741220, 7682300, 58920, 22751014, 1.07, 12.15, 7.14, 5.65, '2015-11-01 13:20:28.186341', '2015-11-01 13:20:28.186341'), (10, 'au', 'Austria', 83871, 82445, 1426, 8665550, 0.55, 9.41, 9.42, 5.56, '2015-11-01 13:20:33.093597', '2015-11-01 13:20:33.093597'), (11, 'aj', 'Azerbaijan', 86600, 82629, 3971, 9780780, 0.96, 16.64, 7.07, 0.0, '2015-11-01 13:20:38.210262', '2015-11-01 13:20:38.210262'), (12, 'bf', 'Bahamas, The', 13880, 10010, 3870, 324597, 0.85, 15.5, 7.05, 0.0, '2015-11-01 13:20:42.754219', '2015-11-01 13:20:42.754219'), (13, 'ba', 'Bahrain', 760, 760, 0, 1346613, 2.41, 13.66, 2.69, 13.09, '2015-11-01 13:20:47.686896', '2015-11-01 13:20:47.686896'), (14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46, '2015-11-01 13:20:52.753843', '2015-11-01 13:20:52.753843'), (15, 'bb', 'Barbados', 430, 430, 0, 290604, 0.31, 11.87, 8.44, 0.3, '2015-11-01 13:20:57.219984', '2015-11-01 13:20:57.219984'), (16, 'bo', 'Belarus', 207600, 202900, 4700, 9589689, 0.2, 10.7, 13.36, 0.7, '2015-11-01 13:21:02.382438', '2015-11-01 13:21:02.382438'), (17, 'be', 'Belgium', 30528, 30278, 250, 11323973, 0.76, 11.41, 9.63, 5.87, '2015-11-01 13:21:07.317024', '2015-11-01 13:21:07.317024'), (18, 'bh', 'Belize', 22966, 22806, 160, 347369, 1.87, 24.68, 5.97, 0.0, '2015-11-01 13:21:12.255851', '2015-11-01 13:21:12.255851'), (19, 'bn', 'Benin', 112622, 110622, 2000, 10448647, 2.78, 36.02, 8.21, 0.0, '2015-11-01 13:21:17.437291', '2015-11-01 13:21:17.437291'), (20, 'bt', 'Bhutan', 38394, 38394, 0, 741919, 1.11, 17.78, 6.69, 0.0, '2015-11-01 13:21:21.942736', '2015-11-01 13:21:21.942736'), (21, 'bl', 'Bolivia', 1098581, 1083301, 15280, 10800882, 1.56, 22.76, 6.52, 0.62, '2015-11-01 13:21:27.041970', '2015-11-01 13:21:27.041970'), (22, 'bk', 'Bosnia and Herzegovina', 51197, 51187, 10, 3867055, 0.13, 8.87, 9.75, 0.38, '2015-11-01 13:21:32.191346', '2015-11-01 13:21:32.191346'), (23, 'bc', 'Botswana', 581730, 566730, 15000, 2182719, 1.21, 20.96, 13.39, 4.56, '2015-11-01 13:21:36.883097', '2015-11-01 13:21:36.883097'), (24, 'br', 'Brazil', 8515770, 8358140, 157630, 204259812, 0.77, 14.46, 6.58, 0.14, '2015-11-01 13:21:42.799461', '2015-11-01 13:21:42.799461'), (25, 'bx', 'Brunei', 5765, 5265, 500, 429646, 1.62, 17.32, 3.52, 2.43, '2015-11-01 13:21:47.136638', '2015-11-01 13:21:47.136638'), (26, 'bu', 'Bulgaria', 110879, 108489, 2390, 7186893, 0.58, 8.92, 14.44, 0.29, '2015-11-01 13:21:52.018824', '2015-11-01 13:21:52.018824'), (27, 'uv', 'Burkina Faso', 274200, 273800, 400, 18931686, 3.03, 42.03, 11.72, 0.0, '2015-11-01 13:21:56.976083', '2015-11-01 13:21:56.976083'), (28, 'bm', 'Burma', 676578, 653508, 23070, 56320206, 1.01, 18.39, 7.96, 0.28, '2015-11-01 13:22:03.329538', '2015-11-01 13:22:03.329538'), (29, 'by', 'Burundi', 27830, 25680, 2150, 10742276, 3.28, 42.01, 9.27, 0.0, '2015-11-01 13:22:08.382756', '2015-11-01 13:22:08.382756'), (30, 'cb', 'Cambodia', 181035, 176515, 4520, 15708756, 1.58, 23.83, 7.68, 0.32, '2015-11-01 13:22:16.286410', '2015-11-01 13:22:16.286410'), (31, 'cm', 'Cameroon', 475440, 472710, 2730, 23739218, 2.59, 36.17, 10.11, 0.15, '2015-11-01 13:22:21.712582', '2015-11-01 13:22:21.712582'), (32, 'ca', 'Canada', 9984670, 9093507, 891163, 35099836, 0.75, 10.28, 8.42, 5.66, '2015-11-01 13:22:27.097513', '2015-11-01 13:22:27.097513'), (33, 'cv', 'Cabo Verde', 4033, 4033, 0, 545993, 1.36, 20.33, 6.11, 0.63, '2015-11-01 13:22:32.226723', '2015-11-01 13:22:32.226723'), (34, 'ct', 'Central African Republic', 622984, 622984, 0, 5391539, 2.13, 35.08, 13.8, 0.0, '2015-11-01 13:22:37.631610', '2015-11-01 13:22:37.631610'), (35, 'cd', 'Chad', None, 1259200, 24800, 11631456, 1.89, 36.6, 14.28, 3.45, '2015-11-01 13:22:42.673800', '2015-11-01 13:22:42.673800'), (36, 'ci', 'Chile', 756102, 743812, 12290, 17508260, 0.82, 13.83, 6.0, 0.34, '2015-11-01 13:22:48.033636', '2015-11-01 13:22:48.033636'), (37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44, '2015-11-01 13:22:53.813142', '2015-11-01 13:22:53.813142'), (38, 'co', 'Colombia', 1138910, 1038700, 100210, 46736728, 1.04, 16.47, 5.4, 0.64, '2015-11-01 13:22:59.368304', '2015-11-01 13:22:59.368304'), (39, 'cn', 'Comoros', 2235, 2235, 0, 780971, 1.77, 27.84, 7.57, 2.53, '2015-11-01 13:23:04.316439', '2015-11-01 13:23:04.316439'), (40, 'cg', 'Congo, Democratic Republic of the', 2344858, 2267048, 77810, 79375136, 2.45, 34.88, 10.07, 0.27, '2015-11-01 13:23:09.778305', '2015-11-01 13:23:09.778305'), (41, 'cf', 'Congo, Republic of the', 342000, 341500, 500, 4755097, 2.0, 35.85, 10.0, 5.9, '2015-11-01 13:23:15.148002', '2015-11-01 13:23:15.148002'), (42, 'cs', 'Costa Rica', 51100, 51060, 40, 4814144, 1.22, 15.91, 4.55, 0.83, '2015-11-01 13:23:20.788229', '2015-11-01 13:23:20.788229'), (43, 'iv', "Cote d'Ivoire", 322463, 318003, 4460, 23295302, 1.91, 28.67, 9.55, 0.0, '2015-11-01 13:23:26.050986', '2015-11-01 13:23:26.050986'), (44, 'hr', 'Croatia', 56594, 55974, 620, 4464844, 0.13, 9.45, 12.18, 1.39, '2015-11-01 13:23:31.420107', '2015-11-01 13:23:31.420107'), (45, 'cu', 'Cuba', 110860, 109820, 1040, 11031433, 0.15, 9.9, 7.72, 3.66, '2015-11-01 13:23:36.605811', '2015-11-01 13:23:36.605811'), (46, 'cy', 'Cyprus', 9251, 9241, 10, 1189197, 1.43, 11.41, 6.62, 9.48, '2015-11-01 13:23:43.214032', '2015-11-01 13:23:43.214032'), (47, 'ez', 'Czech Republic', 78867, 77247, 1620, 10644842, 0.16, 9.63, 10.34, 2.33, '2015-11-01 13:23:48.556068', '2015-11-01 13:23:48.556068'), (48, 'da', 'Denmark', 43094, 42434, 660, 5581503, 0.22, 10.27, 10.25, 2.2, '2015-11-01 13:23:53.727410', '2015-11-01 13:23:53.727410'), (49, 'dj', 'Djibouti', 23200, 23180, 20, 828324, 2.2, 23.65, 7.73, 6.06, '2015-11-01 13:23:58.674323', '2015-11-01 13:23:58.674323'), (50, 'do', 'Dominica', 751, 751, 0, 73607, 0.21, 15.41, 7.91, 5.38, '2015-11-01 13:24:03.301649', '2015-11-01 13:24:03.301649'), (51, 'dr', 'Dominican Republic', 48670, 48320, 350, 10478756, 1.23, 18.73, 4.55, 1.91, '2015-11-01 13:24:08.304893', '2015-11-01 13:24:08.304893'), (52, 'ec', 'Ecuador', 283561, 276841, 6720, 15868396, 1.35, 18.51, 5.06, 0.0, '2015-11-01 13:24:13.633296', '2015-11-01 13:24:13.633296'), (53, 'eg', 'Egypt', 1001450, 995450, 6000, 88487396, 1.79, 22.9, 4.77, 0.19, '2015-11-01 13:24:19.104564', '2015-11-01 13:24:19.104564'), (54, 'es', 'El Salvador', 21041, 20721, 320, 6141350, 0.25, 16.46, 5.69, 8.28, '2015-11-01 13:24:24.374752', '2015-11-01 13:24:24.374752'), (55, 'ek', 'Equatorial Guinea', 28051, 28051, 0, 740743, 2.51, 33.31, 8.19, 0.0, '2015-11-01 13:24:29.392349', '2015-11-01 13:24:29.392349'), (56, 'er', 'Eritrea', 117600, 101000, 16600, 6527689, 2.25, 30.0, 7.52, 0.0, '2015-11-01 13:24:34.211837', '2015-11-01 13:24:34.211837'), (57, 'en', 'Estonia', 45228, 42388, 2840, 1265420, 0.55, 10.51, 12.4, 3.6, '2015-11-01 13:24:39.348509', '2015-11-01 13:24:39.348509'), (58, 'et', 'Ethiopia', 1104300, None, 104300, 99465819, 2.89, 37.27, 8.19, 0.22, '2015-11-01 13:24:44.456431', '2015-11-01 13:24:44.456431'), (59, 'fj', 'Fiji', 18274, 18274, 0, 909389, 0.67, 19.43, 6.04, 6.75, '2015-11-01 13:24:49.212655', '2015-11-01 13:24:49.212655'), (60, 'fi', 'Finland', 338145, 303815, 34330, 5476922, 0.4, 10.72, 9.83, 3.1, '2015-11-01 13:24:54.260412', '2015-11-01 13:24:54.260412'), (61, 'fr', 'France', 643801, 640427, 3374, 66553766, 0.43, 12.38, 9.16, 1.09, '2015-11-01 13:25:00.853401', '2015-11-01 13:25:00.853401'), (62, 'gb', 'Gabon', 267667, 257667, 10000, 1705336, 1.93, 34.49, 13.12, 2.03, '2015-11-01 13:25:05.823937', '2015-11-01 13:25:05.823937'), (63, 'ga', 'Gambia, The', 11300, 10120, 1180, 1967709, 2.16, 30.86, 7.15, 2.12, '2015-11-01 13:25:10.760298', '2015-11-01 13:25:10.760298'), (64, 'gg', 'Georgia', 69700, 69700, 0, 4931226, 0.08, 12.74, 10.82, 2.7, '2015-11-01 13:25:16.492238', '2015-11-01 13:25:16.492238'), (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24, '2015-11-01 13:25:21.942190', '2015-11-01 13:25:21.942190'), (66, 'gh', 'Ghana', 238533, 227533, 11000, 26327649, 2.18, 31.09, 7.22, 2.02, '2015-11-01 13:25:27.116329', '2015-11-01 13:25:27.116329'), (67, 'gr', 'Greece', 131957, 130647, 1310, 10775643, 0.01, 8.66, 11.09, 2.32, '2015-11-01 13:25:32.471183', '2015-11-01 13:25:32.471183'), (68, 'gj', 'Grenada', 344, 344, 0, 110694, 0.48, 16.03, 8.08, 3.13, '2015-11-01 13:25:36.974366', '2015-11-01 13:25:36.974366'), (69, 'gt', 'Guatemala', 108889, 107159, 1730, 14918999, 1.82, 24.89, 4.77, 1.97, '2015-11-01 13:25:42.434045', '2015-11-01 13:25:42.434045'), (70, 'gv', 'Guinea', 245857, 245717, 140, 11780162, 2.63, 35.74, 9.46, 0.0, '2015-11-01 13:25:47.374145', '2015-11-01 13:25:47.374145'), (71, 'pu', 'Guinea-Bissau', 36125, 28120, 8005, 1726170, 1.91, 33.38, 14.33, 0.0, '2015-11-01 13:25:52.373936', '2015-11-01 13:25:52.373936'), (72, 'gy', 'Guyana', 214969, 196849, 18120, 735222, 0.02, 15.59, 7.32, 8.06, '2015-11-01 13:25:57.634107', '2015-11-01 13:25:57.634107'), (73, 'ha', 'Haiti', 27750, 27560, 190, 10110019, 1.17, 22.31, 7.83, 2.76, '2015-11-01 13:26:03.555187', '2015-11-01 13:26:03.555187'), (74, 'ho', 'Honduras', 112090, 111890, 200, 8746673, 1.68, 23.14, 5.17, 1.16, '2015-11-01 13:26:08.714864', '2015-11-01 13:26:08.714864'), (75, 'hu', 'Hungary', 93028, 89608, 3420, 9897541, 0.22, 9.16, 12.73, 1.33, '2015-11-01 13:26:14.152686', '2015-11-01 13:26:14.152686'), (76, 'ic', 'Iceland', 103000, 100250, 2750, 331918, 1.21, 13.91, 6.28, 4.43, '2015-11-01 13:26:19.047094', '2015-11-01 13:26:19.047094'), (77, 'in', 'India', 3287263, 2973193, 314070, 1251695584, 1.22, 19.55, 7.32, 0.04, '2015-11-01 13:26:24.788193', '2015-11-01 13:26:24.788193'), (78, 'id', 'Indonesia', 1904569, 1811569, 93000, 255993674, 0.92, 16.72, 6.37, 1.16, '2015-11-01 13:26:30.435758', '2015-11-01 13:26:30.435758'), (79, 'ir', 'Iran', 1648195, 1531595, 116600, 81824270, 1.2, 17.99, 5.94, 0.07, '2015-11-01 13:26:36.034995', '2015-11-01 13:26:36.034995'), (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62, '2015-11-01 13:26:41.627918', '2015-11-01 13:26:41.627918'), (81, 'ei', 'Ireland', 70273, 68883, 1390, 4892305, 1.25, 14.84, 6.48, 4.09, '2015-11-01 13:26:46.857349', '2015-11-01 13:26:46.857349'), (82, 'is', 'Israel', 20770, 20330, 440, 8049314, 1.56, 18.48, 5.15, 2.24, '2015-11-01 13:26:52.148530', '2015-11-01 13:26:52.148530'), (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1, '2015-11-01 13:26:58.014646', '2015-11-01 13:26:58.014646'), (84, 'jm', 'Jamaica', 10991, 10831, 160, 2950210, 0.68, 18.16, 6.7, 4.66, '2015-11-01 13:27:02.933921', '2015-11-01 13:27:02.933921'), (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0, '2015-11-01 13:27:08.040081', '2015-11-01 13:27:08.040081'), (86, 'jo', 'Jordan', 89342, 88802, 540, 8117564, 0.83, 25.37, 3.79, 13.24, '2015-11-01 13:27:14.033319', '2015-11-01 13:27:14.033319'), (87, 'kz', 'Kazakhstan', 2724900, 2699700, 25200, 18157122, 1.14, 19.15, 8.21, 0.41, '2015-11-01 13:27:19.383522', '2015-11-01 13:27:19.383522'), (88, 'ke', 'Kenya', 580367, 569140, 11227, 45925301, 1.93, 26.4, 6.89, 0.22, '2015-11-01 13:27:24.706164', '2015-11-01 13:27:24.706164'), (89, 'kr', 'Kiribati', 811, 811, 0, 105711, 1.15, 21.46, 7.12, 2.87, '2015-11-01 13:27:29.152429', '2015-11-01 13:27:29.152429'), (90, 'kn', 'Korea, North', 120538, 120408, 130, 24983205, 0.53, 14.52, 9.21, 0.04, '2015-11-01 13:27:34.224496', '2015-11-01 13:27:34.224496'), (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0, '2015-11-01 13:27:39.881765', '2015-11-01 13:27:39.881765'), (92, 'kv', 'Kosovo', 10887, 10887, 0, 1870981, None, None, None, None, '2015-11-01 13:27:43.834473', '2015-11-01 13:27:43.834473'), (93, 'ku', 'Kuwait', 17818, 17818, 0, 2788534, 1.62, 19.91, 2.18, 1.58, '2015-11-01 13:27:48.601430', '2015-11-01 13:27:48.601430'), (94, 'kg', 'Kyrgyzstan', 199951, 191801, 8150, 5664939, 1.11, 22.98, 6.65, 5.22, '2015-11-01 13:27:53.250053', '2015-11-01 13:27:53.250053'), (95, 'la', 'Laos', 236800, 230800, 6000, 6911544, 1.55, 24.25, 7.63, 1.09, '2015-11-01 13:27:57.793263', '2015-11-01 13:27:57.793263'), (96, 'lg', 'Latvia', 64589, 62249, 2340, 1986705, 1.06, 10.0, 14.31, 6.26, '2015-11-01 13:28:02.736587', '2015-11-01 13:28:02.736587'), (97, 'le', 'Lebanon', 10400, 10230, 170, 6184701, 0.86, 14.59, 4.88, 1.1, '2015-11-01 13:28:08.025061', '2015-11-01 13:28:08.025061'), (98, 'lt', 'Lesotho', 30355, 30355, 0, 1947701, 0.32, 25.47, 14.89, 7.36, '2015-11-01 13:28:12.551085', '2015-11-01 13:28:12.551085'), (99, 'li', 'Liberia', 111369, 96320, 15049, 4195666, 2.47, 34.41, 9.69, 0.0, '2015-11-01 13:28:17.286151', '2015-11-01 13:28:17.286151'), (100, 'ly', 'Libya', 1759540, 1759540, 0, 6411776, 2.23, 18.03, 3.58, 7.8, '2015-11-01 13:28:22.197205', '2015-11-01 13:28:22.197205'), (101, 'ls', 'Liechtenstein', 160, 160, 0, 37624, 0.84, 10.45, 7.12, 5.08, '2015-11-01 13:28:25.748312', '2015-11-01 13:28:25.748312'), (102, 'lh', 'Lithuania', 65300, 62680, 2620, 2884433, 1.04, 10.1, 14.27, 6.27, '2015-11-01 13:28:31.246995', '2015-11-01 13:28:31.246995'), (103, 'lu', 'Luxembourg', 2586, 2586, 0, 570252, 2.13, 11.37, 7.24, 17.16, '2015-11-01 13:28:35.879147', '2015-11-01 13:28:35.879147'), (104, 'mk', 'Macedonia', 25713, 25433, 280, 2096015, 0.2, 11.55, 9.08, 0.48, '2015-11-01 13:28:40.693382', '2015-11-01 13:28:40.693382'), (105, 'ma', 'Madagascar', 587041, 581540, 5501, 23812681, 2.58, 32.61, 6.81, 0.0, '2015-11-01 13:28:45.650398', '2015-11-01 13:28:45.650398'), (106, 'mi', 'Malawi', 118484, 94080, 24404, 17964697, 3.32, 41.56, 8.41, 0.0, '2015-11-01 13:28:50.239559', '2015-11-01 13:28:50.239559'), (107, 'my', 'Malaysia', 329847, 328657, 1190, 30513848, 1.44, 19.71, 5.03, 0.33, '2015-11-01 13:28:55.500407', '2015-11-01 13:28:55.500407'), (108, 'mv', 'Maldives', 298, 298, 0, 393253, 0.08, 15.75, 3.89, 12.68, '2015-11-01 13:29:00.393682', '2015-11-01 13:29:00.393682'), (109, 'ml', 'Mali', 1240192, 1220190, 20002, 16955536, 2.98, 44.99, 12.89, 2.26, '2015-11-01 13:29:05.487047', '2015-11-01 13:29:05.487047'), (110, 'mt', 'Malta', 316, 316, 0, 413965, 0.31, 10.18, 9.09, 1.98, '2015-11-01 13:29:10.056831', '2015-11-01 13:29:10.056831'), (111, 'rm', 'Marshall Islands', 181, 181, 0, 72191, 1.66, 25.6, 4.21, 4.83, '2015-11-01 13:29:13.841635', '2015-11-01 13:29:13.841635'), (112, 'mr', 'Mauritania', 1030700, 1030700, 0, 3596702, 2.23, 31.34, 8.2, 0.83, '2015-11-01 13:29:18.787357', '2015-11-01 13:29:18.787357'), (113, 'mp', 'Mauritius', 2040, 2030, 10, 1339827, 0.64, 13.29, 6.91, 0.0, '2015-11-01 13:29:23.365611', '2015-11-01 13:29:23.365611'), (114, 'mx', 'Mexico', 1964375, 1943945, 20430, 121736809, 1.18, 18.78, 5.26, 1.68, '2015-11-01 13:29:28.845230', '2015-11-01 13:29:28.845230'), (115, 'fm', 'Micronesia, Federated States of', 702, 702, 0, 105216, 0.46, 20.54, 4.23, 20.93, '2015-11-01 13:29:32.947601', '2015-11-01 13:29:32.947601'), (116, 'md', 'Moldova', 33851, 32891, 960, 3546847, 1.03, 12.0, 12.59, 9.67, '2015-11-01 13:29:38.300730', '2015-11-01 13:29:38.300730'), (117, 'mn', 'Monaco', 2, 2, 0, 30535, 0.12, 6.65, 9.24, 3.83, '2015-11-01 13:29:41.926640', '2015-11-01 13:29:41.926640'), (118, 'mg', 'Mongolia', 1564116, 1553556, 10560, 2992908, 1.31, 20.25, 6.35, 0.84, '2015-11-01 13:29:46.840320', '2015-11-01 13:29:46.840320'), (119, 'mj', 'Montenegro', 13812, 13452, 360, 647073, 0.42, 10.42, 9.43, None, '2015-11-01 13:29:51.428528', '2015-11-01 13:29:51.428528'), (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36, '2015-11-01 13:29:56.754568', '2015-11-01 13:29:56.754568'), (121, 'mz', 'Mozambique', 799380, 786380, 13000, 25303113, 2.45, 38.58, 12.1, 1.98, '2015-11-01 13:30:01.471643', '2015-11-01 13:30:01.471643'), (122, 'wa', 'Namibia', 824292, 823290, 1002, 2212307, 0.59, 19.8, 13.91, 0.0, '2015-11-01 13:30:06.187817', '2015-11-01 13:30:06.187817'), (123, 'nr', 'Nauru', 21, 21, 0, 9540, 0.55, 24.95, 5.87, 13.63, '2015-11-01 13:30:09.924059', '2015-11-01 13:30:09.924059'), (124, 'np', 'Nepal', 147181, 143351, 3830, 31551305, 1.79, 20.64, 6.56, 3.86, '2015-11-01 13:30:15.197731', '2015-11-01 13:30:15.197731'), (125, 'nl', 'Netherlands', 41543, 33893, 7650, 16947904, 0.41, 10.83, 8.66, 1.95, '2015-11-01 13:30:20.205904', '2015-11-01 13:30:20.205904'), (126, 'nz', 'New Zealand', 267710, 267710, None, 4438393, 0.82, 13.33, 7.36, 2.21, '2015-11-01 13:30:25.001324', '2015-11-01 13:30:25.001324'), (127, 'nu', 'Nicaragua', 130370, 119990, 10380, 5907881, 1.0, 18.03, 5.08, 3.0, '2015-11-01 13:30:29.965060', '2015-11-01 13:30:29.965060'), (128, 'ng', 'Niger', None, 1266700, 300, 18045729, 3.25, 45.45, 12.42, 0.56, '2015-11-01 13:30:34.606095', '2015-11-01 13:30:34.606095'), (129, 'ni', 'Nigeria', 923768, 910768, 13000, 181562056, 2.45, 37.64, 12.9, 0.22, '2015-11-01 13:30:39.695455', '2015-11-01 13:30:39.695455'), (130, 'no', 'Norway', 323802, 304282, 19520, 5207689, 1.13, 12.14, 8.12, 7.25, '2015-11-01 13:30:44.570908', '2015-11-01 13:30:44.570908'), (131, 'mu', 'Oman', 309500, 309500, 0, 3286936, 2.07, 24.44, 3.36, 0.43, '2015-11-01 13:30:49.185453', '2015-11-01 13:30:49.185453'), (132, 'pk', 'Pakistan', 796095, 770875, 25220, 199085847, 1.46, 22.58, 6.49, 1.54, '2015-11-01 13:30:54.514863', '2015-11-01 13:30:54.514863'), (133, 'ps', 'Palau', 459, 459, 0, 21265, 0.38, 11.05, 7.99, 0.71, '2015-11-01 13:30:58.370030', '2015-11-01 13:30:58.370030'), (134, 'pm', 'Panama', 75420, 74340, 1080, 3657024, 1.32, 18.32, 4.81, 0.28, '2015-11-01 13:31:03.548926', '2015-11-01 13:31:03.548926'), (135, 'pp', 'Papua New Guinea', 462840, 452860, 9980, 6672429, 1.78, 24.38, 6.53, 0.0, '2015-11-01 13:31:08.511762', '2015-11-01 13:31:08.511762'), (136, 'pa', 'Paraguay', 406752, 397302, 9450, 6783272, 1.16, 16.37, 4.68, 0.07, '2015-11-01 13:31:13.415534', '2015-11-01 13:31:13.415534'), (137, 'pe', 'Peru', 1285216, 1279996, 5220, 30444999, 0.97, 18.28, 6.01, 2.53, '2015-11-01 13:31:18.485084', '2015-11-01 13:31:18.485084'), (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09, '2015-11-01 13:31:23.643550', '2015-11-01 13:31:23.643550'), (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46, '2015-11-01 13:31:29.189900', '2015-11-01 13:31:29.189900'), (140, 'po', 'Portugal', 92090, 91470, 620, 10825309, 0.09, 9.27, 11.02, 2.67, '2015-11-01 13:31:34.123130', '2015-11-01 13:31:34.123130'), (141, 'qa', 'Qatar', 11586, 11586, 0, 2194817, 3.07, 9.84, 1.53, 22.39, '2015-11-01 13:31:38.827541', '2015-11-01 13:31:38.827541'), (142, 'ro', 'Romania', 238391, 229891, 8500, 21666350, 0.3, 9.14, 11.9, 0.24, '2015-11-01 13:31:43.927783', '2015-11-01 13:31:43.927783'), (143, 'rs', 'Russia', 17098242, 16377742, 720500, 142423773, 0.04, 11.6, 13.69, 1.69, '2015-11-01 13:31:49.438160', '2015-11-01 13:31:49.438160'), (144, 'rw', 'Rwanda', 26338, 24668, 1670, 12661733, 2.56, 33.75, 8.96, 0.85, '2015-11-01 13:31:54.249930', '2015-11-01 13:31:54.249930'), (145, 'sc', 'Saint

#### To learn more about the sqlite3 library, read the package documentation on [the official Python website](https://docs.python.org/3/library/sqlite3.html).

You can read the results of a SQL query into a pandas dataframe using the **read_sql_query** function, which [the official pandas website](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql_query.html) documents.

In [5]:
import pandas as pd

In [6]:
# Read facts into a pandas dataframe using read_sql_query.
facts = pd.read_sql_query("SELECT * FROM facts;", conn)

facts.head()

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate,created_at,updated_at
0,1,af,Afghanistan,652230.0,652230.0,0.0,32564342.0,2.32,38.57,13.89,1.51,2015-11-01 13:19:49.461734,2015-11-01 13:19:49.461734
1,2,al,Albania,28748.0,27398.0,1350.0,3029278.0,0.30,12.92,6.58,3.30,2015-11-01 13:19:54.431082,2015-11-01 13:19:54.431082
2,3,ag,Algeria,2381741.0,2381741.0,0.0,39542166.0,1.84,23.67,4.31,0.92,2015-11-01 13:19:59.961286,2015-11-01 13:19:59.961286
3,4,an,Andorra,468.0,468.0,0.0,85580.0,0.12,8.13,6.96,0.00,2015-11-01 13:20:03.659945,2015-11-01 13:20:03.659945
4,5,ao,Angola,1246700.0,1246700.0,0.0,19625353.0,2.78,38.78,11.49,0.46,2015-11-01 13:20:08.625072,2015-11-01 13:20:08.625072

#### compute the projected population for each country in 2050.

In [7]:
# Filter out any rows that have invalid data.
facts.dropna(axis=0, inplace=True)

facts

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate,created_at,updated_at
0,1,af,Afghanistan,652230.0,652230.0,0.0,32564342.0,2.32,38.57,13.89,1.51,2015-11-01 13:19:49.461734,2015-11-01 13:19:49.461734
1,2,al,Albania,28748.0,27398.0,1350.0,3029278.0,0.30,12.92,6.58,3.30,2015-11-01 13:19:54.431082,2015-11-01 13:19:54.431082
2,3,ag,Algeria,2381741.0,2381741.0,0.0,39542166.0,1.84,23.67,4.31,0.92,2015-11-01 13:19:59.961286,2015-11-01 13:19:59.961286
3,4,an,Andorra,468.0,468.0,0.0,85580.0,0.12,8.13,6.96,0.00,2015-11-01 13:20:03.659945,2015-11-01 13:20:03.659945
4,5,ao,Angola,1246700.0,1246700.0,0.0,19625353.0,2.78,38.78,11.49,0.46,2015-11-01 13:20:08.625072,2015-11-01 13:20:08.625072
5,6,ac,Antigua and Barbuda,442.0,442.0,0.0,92436.0,1.24,15.85,5.69,2.21,2015-11-01 13:20:13.049627,2015-11-01 13:20:13.049627
6,7,ar,Argentina,2780400.0,2736690.0,43710.0,43431886.0,0.93,16.64,7.33,0.00,2015-11-01 13:20:18.233063,2015-11-01 13:20:18.233063
7,8,am,Armenia,29743.0,28203.0,1540.0,3056382.0,0.15,13.61,9.34,5.80,2015-11-01 13:20:23.048753,2015-11-01 13:20:23.048753
8,9,as,Australia,7741220.0,7682300.0,58920.0,22751014.0,1.07,12.15,7.14,5.65,2015-11-01 13:20:28.186341,2015-11-01 13:20:28.186341
9,10,au,Austria,83871.0,82445.0,1426.0,8665550.0,0.55,9.41,9.42,5.56,2015-11-01 13:20:33.093597,2015-11-01 13:20:33.093597
10,11,aj,Azerbaijan,86600.0,82629.0,3971.0,9780780.0,0.96,16.64,7.07,0.00,2015-11-01 13:20:38.210262,2015-11-01 13:20:38.210262
11,12,bf,"Bahamas, The",13880.0,10010.0,3870.0,324597.0,0.85,15.50,7.05,0.00,2015-11-01 13:20:42.754219,2015-11-01 13:20:42.754219
12,13,ba,Bahrain,760.0,760.0,0.0,1346613.0,2.41,13.66,2.69,13.09,2015-11-01 13:20:47.686896,2015-11-01 13:20:47.686896
13,14,bg,Bangladesh,148460.0,130170.0,18290.0,168957745.0,1.60,21.14,5.61,0.46,2015-11-01 13:20:52.753843,2015-11-01 13:20:52.753843
14,15,bb,Barbados,430.0,430.0,0.0,290604.0,0.31,11.87,8.44,0.30,2015-11-01 13:20:57.219984,2015-11-01 13:20:57.219984
15,16,bo,Belarus,207600.0,202900.0,4700.0,9589689.0,0.20,10.70,13.36,0.70,2015-11-01 13:21:02.382438,2015-11-01 13:21:02.382438
16,17,be,Belgium,30528.0,30278.0,250.0,11323973.0,0.76,11.41,9.63,5.87,2015-11-01 13:21:07.317024,2015-11-01 13:21:07.317024
17,18,bh,Belize,22966.0,22806.0,160.0,347369.0,1.87,24.68,5.97,0.00,2015-11-01 13:21:12.255851,2015-11-01 13:21:12.255851
18,19,bn,Benin,112622.0,110622.0,2000.0,10448647.0,2.78,36.02,8.21,0.00,2015-11-01 13:21:17.437291,2015-11-01 13:21:17.437291
19,20,bt,Bhutan,38394.0,38394.0,0.0,741919.0,1.11,17.78,6.69,0.00,2015-11-01 13:21:21.942736,2015-11-01 13:21:21.942736
20,21,bl,Bolivia,1098581.0,1083301.0,15280.0,10800882.0,1.56,22.76,6.52,0.62,2015-11-01 13:21:27.041970,2015-11-01 13:21:27.041970
21,22,bk,Bosnia and Herzegovina,51197.0,51187.0,10.0,3867055.0,0.13,8.87,9.75,0.38,2015-11-01 13:21:32.191346,2015-11-01 13:21:32.191346
22,23,bc,Botswana,581730.0,566730.0,15000.0,2182719.0,1.21,20.96,13.39,4.56,2015-11-01 13:21:36.883097,2015-11-01 13:21:36.883097
23,24,br,Brazil,8515770.0,8358140.0,157630.0,204259812.0,0.77,14.46,6.58,0.14,2015-11-01 13:21:42.799461,2015-11-01 13:21:42.799461
24,25,bx,Brunei,5765.0,5265.0,500.0,429646.0,1.62,17.32,3.52,2.43,2015-11-01 13:21:47.136638,2015-11-01 13:21:47.136638
25,26,bu,Bulgaria,110879.0,108489.0,2390.0,7186893.0,0.58,8.92,14.44,0.29,2015-11-01 13:21:52.018824,2015-11-01 13:21:52.018824
26,27,uv,Burkina Faso,274200.0,273800.0,400.0,18931686.0,3.03,42.03,11.72,0.00,2015-11-01 13:21:56.976083,2015-11-01 13:21:56.976083
27,28,bm,Burma,676578.0,653508.0,23070.0,56320206.0,1.01,18.39,7.96,0.28,2015-11-01 13:22:03.329538,2015-11-01 13:22:03.329538
28,29,by,Burundi,27830.0,25680.0,2150.0,10742276.0,3.28,42.01,9.27,0.00,2015-11-01 13:22:08.382756,2015-11-01 13:22:08.382756
29,30,cb,Cambodia,181035.0,176515.0,4520.0,15708756.0,1.58,23.83,7.68,0.32,2015-11-01 13:22:16.286410,2015-11-01 13:22:16.286410
...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,195,zi,Zimbabwe,390757.0,386847.0,3910.0,14229541.0,2.21,32.26,10.13,0.00,2015-11-01 13:35:57.711444,2015-11-01 13:35:57.711444
195,196,tw,Taiwan,35980.0,32260.0,3720.0,23415126.0,0.23,8.47,7.11,0.89,2015-11-01 13:36:02.255373,2015-11-01 13:36:02.255373
203,204,hk,Hong Kong,1108.0,1073.0,35.0,7141106.0,0.38,9.23,7.07,1.68,2015-11-01 13:36:23.189516,2015-11-01 13:36:23.189516
204,205,mc,Macau,28.0,28.0,0.0,592731.0,0.80,8.88,4.22,3.37,2015-11-01 13:36:27.392999,2015-11-01 13:36:27.392999
205,206,fo,Faroe Islands,1393.0,1393.0,0.0,50196.0,0.51,13.77,8.71,0.00,2015-11-01 13:36:31.157109,2015-11-01 13:36:31.157109
208,209,fp,French Polynesia,4167.0,3827.0,340.0,282703.0,0.94,15.22,5.02,0.84,2015-11-01 13:36:40.733124,2015-11-01 13:36:40.733124
210,211,nc,New Caledonia,18575.0,18275.0,300.0,271615.0,1.38,15.33,5.52,4.01,2015-11-01 13:36:47.582833,2015-11-01 13:36:47.582833
213,214,sb,Saint Pierre and Miquelon,242.0,242.0,0.0,5657.0,1.08,7.42,9.72,8.49,2015-11-01 13:36:55.432885,2015-11-01 13:36:55.432885
214,215,wf,Wallis and Futuna,142.0,142.0,0.0,15613.0,0.33,13.45,5.06,5.06,2015-11-01 13:36:58.489862,2015-11-01 13:36:58.489862
215,216,aa,Aruba,180.0,180.0,0.0,112162.0,1.33,12.56,8.18,8.92,2015-11-01 13:37:02.407642,2015-11-01 13:37:02.407642
216,217,cc,Curacao,444.0,444.0,0.0,148406.0,0.43,13.80,8.20,1.40,2015-11-01 13:37:05.782750,2015-11-01 13:37:05.782750
217,218,sk,Sint Maarten,34.0,34.0,0.0,39689.0,1.51,13.00,4.51,6.63,2015-11-01 13:37:08.571949,2015-11-01 13:37:08.571949
225,226,av,Anguilla,91.0,91.0,0.0,16418.0,2.03,12.67,4.57,12.18,2015-11-01 13:37:30.034876,2015-11-01 13:37:30.034876
226,227,bd,Bermuda,54.0,54.0,0.0,70196.0,0.50,11.33,8.23,1.88,2015-11-01 13:37:33.894038,2015-11-01 13:37:33.894038
228,229,vi,British Virgin Islands,151.0,151.0,0.0,33454.0,2.32,10.91,4.99,17.28,2015-11-01 13:37:39.647840,2015-11-01 13:37:39.647840
229,230,cj,Cayman Islands,264.0,264.0,0.0,56092.0,2.10,12.11,5.53,14.40,2015-11-01 13:37:43.647884,2015-11-01 13:37:43.647884
232,233,gi,Gibraltar,6.0,6.0,0.0,29258.0,0.24,14.08,8.37,3.28,2015-11-01 13:37:51.980087,2015-11-01 13:37:51.980087
233,234,gk,Guernsey,78.0,78.0,0.0,66080.0,0.34,9.84,8.78,2.32,2015-11-01 13:37:55.085750,2015-11-01 13:37:55.085750
234,235,je,Jersey,116.0,116.0,0.0,97294.0,0.80,11.91,7.68,3.76,2015-11-01 13:37:58.442238,2015-11-01 13:37:58.442238
235,236,im,Isle of Man,572.0,572.0,0.0,87545.0,0.76,11.10,10.06,6.56,2015-11-01 13:38:01.914270,2015-11-01 13:38:01.914270
236,237,mh,Montserrat,102.0,102.0,0.0,5241.0,0.50,11.26,6.30,0.00,2015-11-01 13:38:05.670256,2015-11-01 13:38:05.670256
238,239,sh,"Saint Helena, Ascension, and Tristan da Cunha",308.0,122.0,0.0,7795.0,0.24,9.88,7.44,0.00,2015-11-01 13:38:11.767274,2015-11-01 13:38:11.767274
240,241,tk,Turks and Caicos Islands,948.0,948.0,0.0,50280.0,2.30,16.13,3.10,9.94,2015-11-01 13:38:17.164473,2015-11-01 13:38:17.164473
241,242,aq,American Samoa,199.0,199.0,0.0,54343.0,0.30,22.89,4.75,21.13,2015-11-01 13:38:20.926072,2015-11-01 13:38:20.926072
242,243,gq,Guam,544.0,544.0,0.0,161785.0,0.54,16.82,5.12,6.34,2015-11-01 13:38:24.699655,2015-11-01 13:38:24.699655
244,245,cq,Northern Mariana Islands,464.0,464.0,0.0,52344.0,2.18,18.32,3.71,7.16,2015-11-01 13:38:30.017480,2015-11-01 13:38:30.017480
245,246,rq,Puerto Rico,13791.0,8870.0,4921.0,3598357.0,0.60,10.86,8.67,8.15,2015-11-01 13:38:34.502065,2015-11-01 13:38:34.502065
246,247,vq,Virgin Islands,1910.0,346.0,1564.0,103574.0,0.59,10.31,8.54,7.67,2015-11-01 13:38:38.270075,2015-11-01 13:38:38.270075
250,251,gz,Gaza Strip,360.0,360.0,0.0,1869055.0,2.81,31.11,3.04,0.00,2015-11-01 13:38:48.049460,2015-11-01 13:38:48.049460
253,254,we,West Bank,5860.0,5640.0,220.0,2785366.0,1.95,22.99,3.50,0.00,2015-11-01 13:38:55.084643,2015-11-01 13:38:55.084643

In [8]:
# Look for things like the value 0 in the area_land column, which doesn't make sense.
facts[facts["area_land"]<10]

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate,created_at,updated_at
116,117,mn,Monaco,2.0,2.0,0.0,30535.0,0.12,6.65,9.24,3.83,2015-11-01 13:29:41.926640,2015-11-01 13:29:41.926640
232,233,gi,Gibraltar,6.0,6.0,0.0,29258.0,0.24,14.08,8.37,3.28,2015-11-01 13:37:51.980087,2015-11-01 13:37:51.980087

In [9]:
# Write a function that takes in a country's initial population and growth rate, 
# and then outputs the final population. 
# The annual population growth (expressed as a percentage) for each country is in the population_growth column, 
# while the initial population is in the population column.
import math

def calc_pop(init_pop, grow_rate, year):
    final_pop = init_pop*math.e**(grow_rate*year/100)
    return final_pop

facts["population_2050"] = facts.apply(lambda row: calc_pop(row["population"], row["population_growth"], 35), axis=1)

# Use the dataframe sort_values method to sort on the 2050 population in descending order.
sorted_facts = facts.sort_values("population_2050", ascending=False)

# Print the 10 countries that will have the highest populations in 2050.
print(sorted_facts[['name', 'population_2050']].head(10))

sorted_facts

                                  name  population_2050
76                               India     1.918415e+09
36                               China     1.600752e+09
128                            Nigeria     4.279890e+08
185                      United States     4.222466e+08
77                           Indonesia     3.532418e+08
131                           Pakistan     3.318676e+08
13                          Bangladesh     2.957897e+08
23                              Brazil     2.674393e+08
39   Congo, Democratic Republic of the     1.871078e+08
113                             Mexico     1.839863e+08

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate,created_at,updated_at,population_2050
76,77,in,India,3287263.0,2973193.0,314070.0,1.251696e+09,1.22,19.55,7.32,0.04,2015-11-01 13:26:24.788193,2015-11-01 13:26:24.788193,1.918415e+09
36,37,ch,China,9596960.0,9326410.0,270550.0,1.367485e+09,0.45,12.49,7.53,0.44,2015-11-01 13:22:53.813142,2015-11-01 13:22:53.813142,1.600752e+09
128,129,ni,Nigeria,923768.0,910768.0,13000.0,1.815621e+08,2.45,37.64,12.90,0.22,2015-11-01 13:30:39.695455,2015-11-01 13:30:39.695455,4.279890e+08
185,186,us,United States,9826675.0,9161966.0,664709.0,3.213689e+08,0.78,12.49,8.15,3.86,2015-11-01 13:35:14.898271,2015-11-01 13:35:14.898271,4.222466e+08
77,78,id,Indonesia,1904569.0,1811569.0,93000.0,2.559937e+08,0.92,16.72,6.37,1.16,2015-11-01 13:26:30.435758,2015-11-01 13:26:30.435758,3.532418e+08
131,132,pk,Pakistan,796095.0,770875.0,25220.0,1.990858e+08,1.46,22.58,6.49,1.54,2015-11-01 13:30:54.514863,2015-11-01 13:30:54.514863,3.318676e+08
13,14,bg,Bangladesh,148460.0,130170.0,18290.0,1.689577e+08,1.60,21.14,5.61,0.46,2015-11-01 13:20:52.753843,2015-11-01 13:20:52.753843,2.957897e+08
23,24,br,Brazil,8515770.0,8358140.0,157630.0,2.042598e+08,0.77,14.46,6.58,0.14,2015-11-01 13:21:42.799461,2015-11-01 13:21:42.799461,2.674393e+08
39,40,cg,"Congo, Democratic Republic of the",2344858.0,2267048.0,77810.0,7.937514e+07,2.45,34.88,10.07,0.27,2015-11-01 13:23:09.778305,2015-11-01 13:23:09.778305,1.871078e+08
113,114,mx,Mexico,1964375.0,1943945.0,20430.0,1.217368e+08,1.18,18.78,5.26,1.68,2015-11-01 13:29:28.845230,2015-11-01 13:29:28.845230,1.839863e+08
137,138,rp,Philippines,300000.0,298170.0,1830.0,1.009984e+08,1.61,24.27,6.11,2.09,2015-11-01 13:31:23.643550,2015-11-01 13:31:23.643550,1.774350e+08
52,53,eg,Egypt,1001450.0,995450.0,6000.0,8.848740e+07,1.79,22.90,4.77,0.19,2015-11-01 13:24:19.104564,2015-11-01 13:24:19.104564,1.655644e+08
142,143,rs,Russia,17098242.0,16377742.0,720500.0,1.424238e+08,0.04,11.60,13.69,1.69,2015-11-01 13:31:49.438160,2015-11-01 13:31:49.438160,1.444317e+08
171,172,tz,Tanzania,947300.0,885800.0,61500.0,5.104588e+07,2.79,36.39,8.00,0.54,2015-11-01 13:34:05.578128,2015-11-01 13:34:05.578128,1.355343e+08
84,85,ja,Japan,377915.0,364485.0,13430.0,1.269197e+08,0.16,7.93,9.51,0.00,2015-11-01 13:27:08.040081,2015-11-01 13:27:08.040081,1.342299e+08
191,192,vm,Vietnam,331210.0,310070.0,21140.0,9.434884e+07,0.97,15.96,5.93,0.30,2015-11-01 13:35:42.896553,2015-11-01 13:35:42.896553,1.324889e+08
78,79,ir,Iran,1648195.0,1531595.0,116600.0,8.182427e+07,1.20,17.99,5.94,0.07,2015-11-01 13:26:36.034995,2015-11-01 13:26:36.034995,1.245334e+08
178,179,tu,Turkey,783562.0,769632.0,13930.0,7.941427e+07,1.26,16.33,5.88,2.16,2015-11-01 13:34:40.298396,2015-11-01 13:34:40.298396,1.234305e+08
181,182,ug,Uganda,241038.0,197100.0,43938.0,3.710174e+07,3.24,43.79,10.69,0.74,2015-11-01 13:34:53.888127,2015-11-01 13:34:53.888127,1.153146e+08
79,80,iz,Iraq,438317.0,437367.0,950.0,3.705617e+07,2.93,31.45,3.77,1.62,2015-11-01 13:26:41.627918,2015-11-01 13:26:41.627918,1.033307e+08
87,88,ke,Kenya,580367.0,569140.0,11227.0,4.592530e+07,1.93,26.40,6.89,0.22,2015-11-01 13:27:24.706164,2015-11-01 13:27:24.706164,9.024392e+07
64,65,gm,Germany,357022.0,348672.0,8350.0,8.085441e+07,0.17,8.47,11.42,1.24,2015-11-01 13:25:21.942190,2015-11-01 13:25:21.942190,8.581125e+07
160,161,sf,South Africa,1219090.0,1214470.0,4620.0,5.367556e+07,1.33,20.75,9.91,2.42,2015-11-01 13:33:12.524623,2015-11-01 13:33:12.524623,8.549499e+07
27,28,bm,Burma,676578.0,653508.0,23070.0,5.632021e+07,1.01,18.39,7.96,0.28,2015-11-01 13:22:03.329538,2015-11-01 13:22:03.329538,8.020239e+07
184,185,uk,United Kingdom,243610.0,241930.0,1680.0,6.408822e+07,0.54,12.17,9.35,2.54,2015-11-01 13:35:09.362933,2015-11-01 13:35:09.362933,7.742120e+07
60,61,fr,France,643801.0,640427.0,3374.0,6.655377e+07,0.43,12.38,9.16,1.09,2015-11-01 13:25:00.853401,2015-11-01 13:25:00.853401,7.736312e+07
172,173,th,Thailand,513120.0,510890.0,2230.0,6.797640e+07,0.34,11.19,7.80,0.00,2015-11-01 13:34:11.057976,2015-11-01 13:34:11.057976,7.656658e+07
2,3,ag,Algeria,2381741.0,2381741.0,0.0,3.954217e+07,1.84,23.67,4.31,0.92,2015-11-01 13:19:59.961286,2015-11-01 13:19:59.961286,7.529153e+07
0,1,af,Afghanistan,652230.0,652230.0,0.0,3.256434e+07,2.32,38.57,13.89,1.51,2015-11-01 13:19:49.461734,2015-11-01 13:19:49.461734,7.334819e+07
82,83,it,Italy,301340.0,294140.0,7200.0,6.185512e+07,0.27,8.74,10.19,4.10,2015-11-01 13:26:58.014646,2015-11-01 13:26:58.014646,6.798553e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,247,vq,Virgin Islands,1910.0,346.0,1564.0,1.035740e+05,0.59,10.31,8.54,7.67,2015-11-01 13:38:38.270075,2015-11-01 13:38:38.270075,1.273305e+05
114,115,fm,"Micronesia, Federated States of",702.0,702.0,0.0,1.052160e+05,0.46,20.54,4.23,20.93,2015-11-01 13:29:32.947601,2015-11-01 13:29:32.947601,1.235957e+05
153,154,se,Seychelles,455.0,455.0,0.0,9.243000e+04,0.83,14.19,6.89,1.00,2015-11-01 13:32:39.656593,2015-11-01 13:32:39.656593,1.235878e+05
229,230,cj,Cayman Islands,264.0,264.0,0.0,5.609200e+04,2.10,12.11,5.53,14.40,2015-11-01 13:37:43.647884,2015-11-01 13:37:43.647884,1.169789e+05
235,236,im,Isle of Man,572.0,572.0,0.0,8.754500e+04,0.76,11.10,10.06,6.56,2015-11-01 13:38:01.914270,2015-11-01 13:38:01.914270,1.142230e+05
146,147,vc,Saint Vincent and the Grenadines,389.0,389.0,0.0,1.026270e+05,0.28,13.57,7.18,9.17,2015-11-01 13:32:07.319951,2015-11-01 13:32:07.319951,1.131938e+05
240,241,tk,Turks and Caicos Islands,948.0,948.0,0.0,5.028000e+04,2.30,16.13,3.10,9.94,2015-11-01 13:38:17.164473,2015-11-01 13:38:17.164473,1.124611e+05
244,245,cq,Northern Mariana Islands,464.0,464.0,0.0,5.234400e+04,2.18,18.32,3.71,7.16,2015-11-01 13:38:30.017480,2015-11-01 13:38:30.017480,1.122622e+05
175,176,tn,Tonga,747.0,717.0,30.0,1.065010e+05,0.03,23.00,4.85,17.84,2015-11-01 13:34:25.129188,2015-11-01 13:34:25.129188,1.076252e+05
3,4,an,Andorra,468.0,468.0,0.0,8.558000e+04,0.12,8.13,6.96,0.00,2015-11-01 13:20:03.659945,2015-11-01 13:20:03.659945,8.925091e+04
226,227,bd,Bermuda,54.0,54.0,0.0,7.019600e+04,0.50,11.33,8.23,1.88,2015-11-01 13:37:33.894038,2015-11-01 13:37:33.894038,8.362072e+04
49,50,do,Dominica,751.0,751.0,0.0,7.360700e+04,0.21,15.41,7.91,5.38,2015-11-01 13:24:03.301649,2015-11-01 13:24:03.301649,7.922090e+04
228,229,vi,British Virgin Islands,151.0,151.0,0.0,3.345400e+04,2.32,10.91,4.99,17.28,2015-11-01 13:37:39.647840,2015-11-01 13:37:39.647840,7.535207e+04
233,234,gk,Guernsey,78.0,78.0,0.0,6.608000e+04,0.34,9.84,8.78,2.32,2015-11-01 13:37:55.085750,2015-11-01 13:37:55.085750,7.443052e+04
144,145,sc,Saint Kitts and Nevis,261.0,261.0,0.0,5.193600e+04,0.76,13.50,7.09,1.21,2015-11-01 13:31:58.635300,2015-11-01 13:31:58.635300,6.776272e+04
217,218,sk,Sint Maarten,34.0,34.0,0.0,3.968900e+04,1.51,13.00,4.51,6.63,2015-11-01 13:37:08.571949,2015-11-01 13:37:08.571949,6.732786e+04
241,242,aq,American Samoa,199.0,199.0,0.0,5.434300e+04,0.30,22.89,4.75,21.13,2015-11-01 13:38:20.926072,2015-11-01 13:38:20.926072,6.035935e+04
205,206,fo,Faroe Islands,1393.0,1393.0,0.0,5.019600e+04,0.51,13.77,8.71,0.00,2015-11-01 13:36:31.157109,2015-11-01 13:36:31.157109,6.000545e+04
100,101,ls,Liechtenstein,160.0,160.0,0.0,3.762400e+04,0.84,10.45,7.12,5.08,2015-11-01 13:28:25.748312,2015-11-01 13:28:25.748312,5.048328e+04
148,149,sm,San Marino,61.0,61.0,0.0,3.302000e+04,0.82,8.63,8.45,8.03,2015-11-01 13:32:15.609471,2015-11-01 13:32:15.609471,4.399665e+04
225,226,av,Anguilla,91.0,91.0,0.0,1.641800e+04,2.03,12.67,4.57,12.18,2015-11-01 13:37:30.034876,2015-11-01 13:37:30.034876,3.341077e+04
116,117,mn,Monaco,2.0,2.0,0.0,3.053500e+04,0.12,6.65,9.24,3.83,2015-11-01 13:29:41.926640,2015-11-01 13:29:41.926640,3.184478e+04
232,233,gi,Gibraltar,6.0,6.0,0.0,2.925800e+04,0.24,14.08,8.37,3.28,2015-11-01 13:37:51.980087,2015-11-01 13:37:51.980087,3.182185e+04
132,133,ps,Palau,459.0,459.0,0.0,2.126500e+04,0.38,11.05,7.99,0.71,2015-11-01 13:30:58.370030,2015-11-01 13:30:58.370030,2.428995e+04
214,215,wf,Wallis and Futuna,142.0,142.0,0.0,1.561300e+04,0.33,13.45,5.06,5.06,2015-11-01 13:36:58.489862,2015-11-01 13:36:58.489862,1.752457e+04
180,181,tv,Tuvalu,26.0,26.0,0.0,1.086900e+04,0.82,23.74,8.74,6.81,2015-11-01 13:34:48.931477,2015-11-01 13:34:48.931477,1.448212e+04
122,123,nr,Nauru,21.0,21.0,0.0,9.540000e+03,0.55,24.95,5.87,13.63,2015-11-01 13:30:09.924059,2015-11-01 13:30:09.924059,1.156512e+04
238,239,sh,"Saint Helena, Ascension, and Tristan da Cunha",308.0,122.0,0.0,7.795000e+03,0.24,9.88,7.44,0.00,2015-11-01 13:38:11.767274,2015-11-01 13:38:11.767274,8.478067e+03
213,214,sb,Saint Pierre and Miquelon,242.0,242.0,0.0,5.657000e+03,1.08,7.42,9.72,8.49,2015-11-01 13:36:55.432885,2015-11-01 13:36:55.432885,8.255616e+03
236,237,mh,Montserrat,102.0,102.0,0.0,5.241000e+03,0.50,11.26,6.30,0.00,2015-11-01 13:38:05.670256,2015-11-01 13:38:05.670256,6.243321e+03

In [10]:
# We can calculate the total population with this query:
result = pd.read_sql_query("SELECT SUM(population) from facts;", conn)
result

   SUM(population)
0      15026972654

In [11]:
# We can also add a WHERE clause, like this:
result = pd.read_sql_query("SELECT SUM(population) from facts WHERE area_land != '';", conn)
result

   SUM(population)
0       7108876979

In [12]:
# Use SQL and Python to compute the ratio of land area to water area that each country claims.

# Query to get the total of the area_land column.
land_df = pd.read_sql_query('SELECT SUM(area_land) from facts WHERE area_land != "";', conn)
sum_land = land_df["SUM(area_land)"][0]

# Query to get the total of the area_water column.
water_df = pd.read_sql_query('SELECT SUM(area_water) from facts WHERE area_land != "";', conn)
sum_water = water_df["SUM(area_water)"][0]

# Divide area_land by area_water and print the result.
print(sum_land)
print(sum_water)
print(sum_land/sum_water)

128584834
4529125
28.390656915