In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("jobs.db")
cursor = conn.cursor()

In [3]:
# The query returns all of the female-majority majors with more than 10000 employed graduates.
query = "SELECT Major,ShareWomen,Employed FROM recent_grads WHERE ShareWomen>0.5 AND Employed>10000 LIMIT 10;"
cursor.execute(query)
results = cursor.fetchall()

results

[('COMPUTER SCIENCE', 0.578766338, 102087),
 ('NURSING', 0.896018988, 180903),
 ('COMPUTER AND INFORMATION SYSTEMS', 0.7077185020000001, 28459),
 ('INTERNATIONAL RELATIONS', 0.632986838, 21190),
 ('AGRICULTURE PRODUCTION AND MANAGEMENT', 0.59420765, 12323),
 ('CHEMISTRY', 0.5051405379999999, 48535),
 ('BUSINESS MANAGEMENT AND ADMINISTRATION', 0.580948004, 276234),
 ('BIOCHEMICAL SCIENCES', 0.515406449, 25678),
 ('HUMAN RESOURCES AND PERSONNEL MANAGEMENT', 0.672161443, 20760),
 ('MISCELLANEOUS HEALTH MEDICAL PROFESSIONS', 0.702020202, 10076)]

In [4]:
# A SQL query that returns the first 20 majors that either:
# have a Median salary greater than or equal to 10,000, or
# have less than or equal to 1,000 Unemployed people
query = "SELECT Major,Median,Unemployed FROM recent_grads WHERE Median>=10000 OR Unemployed<=1000 LIMIT 20;"
cursor.execute(query)
results = cursor.fetchall()

results

[('PETROLEUM ENGINEERING', 110000, 37),
 ('MINING AND MINERAL ENGINEERING', 75000, 85),
 ('METALLURGICAL ENGINEERING', 73000, 16),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 70000, 40),
 ('CHEMICAL ENGINEERING', 65000, 1672),
 ('NUCLEAR ENGINEERING', 65000, 400),
 ('ACTUARIAL SCIENCE', 62000, 308),
 ('ASTRONOMY AND ASTROPHYSICS', 62000, 33),
 ('MECHANICAL ENGINEERING', 60000, 4650),
 ('ELECTRICAL ENGINEERING', 60000, 3895),
 ('COMPUTER ENGINEERING', 60000, 2275),
 ('AEROSPACE ENGINEERING', 60000, 794),
 ('BIOMEDICAL ENGINEERING', 60000, 1019),
 ('MATERIALS SCIENCE', 60000, 78),
 ('ENGINEERING MECHANICS PHYSICS AND SCIENCE', 58000, 23),
 ('BIOLOGICAL ENGINEERING', 57100, 589),
 ('INDUSTRIAL AND MANUFACTURING ENGINEERING', 57000, 699),
 ('GENERAL ENGINEERING', 56000, 2859),
 ('ARCHITECTURAL ENGINEERING', 54000, 170),
 ('COURT REPORTING', 54000, 11)]

In [5]:
# Run the query returns all Engineering majors that:
# either had mostly women graduates
# or had an unemployment rate below 5.1%, which was the rate in August 2015
query = "SELECT Major,Major_category,ShareWomen,Unemployment_rate \
FROM recent_grads \
WHERE Major_category='Engineering' AND (ShareWomen>0.5 OR Unemployment_rate<=0.051);"
cursor.execute(query)
results = cursor.fetchall()

results

[('PETROLEUM ENGINEERING', 'Engineering', 0.120564344, 0.018380527),
 ('METALLURGICAL ENGINEERING', 'Engineering', 0.153037383, 0.024096386),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING',
  'Engineering',
  0.107313196,
  0.050125313),
 ('MATERIALS SCIENCE', 'Engineering', 0.310820285, 0.023042836),
 ('ENGINEERING MECHANICS PHYSICS AND SCIENCE',
  'Engineering',
  0.183985189,
  0.006334343),
 ('INDUSTRIAL AND MANUFACTURING ENGINEERING',
  'Engineering',
  0.34347321799999997,
  0.042875544),
 ('MATERIALS ENGINEERING AND MATERIALS SCIENCE',
  'Engineering',
  0.292607004,
  0.027788805),
 ('ENVIRONMENTAL ENGINEERING', 'Engineering', 0.558548009, 0.093588575),
 ('INDUSTRIAL PRODUCTION TECHNOLOGIES',
  'Engineering',
  0.75047259,
  0.028308097),
 ('ENGINEERING AND INDUSTRIAL MANAGEMENT',
  'Engineering',
  0.174122505,
  0.03365166)]

In [6]:
# Find all majors that meet all of the following criteria:
# Major_category of Business or Arts or Health
# Employed students greater than 20,000 or Unemployment_rate below 5.1%
query = "SELECT Major,Major_category,Employed,Unemployment_rate \
FROM recent_grads \
WHERE (Major_category='Business' OR Major_category='Arts' OR Major_category='Health') \
AND (Employed>20000 OR Unemployment_rate<=0.051);"
cursor.execute(query)
results = cursor.fetchall()

results

[('OPERATIONS LOGISTICS AND E-COMMERCE',
  'Business',
  10027,
  0.047858702999999995),
 ('NURSING', 'Health', 180903, 0.04486272400000001),
 ('FINANCE', 'Business', 145696, 0.060686356),
 ('ACCOUNTING', 'Business', 165527, 0.069749014),
 ('MEDICAL TECHNOLOGIES TECHNICIANS', 'Health', 13150, 0.03698279),
 ('MEDICAL ASSISTING SERVICES', 'Health', 9168, 0.042506527),
 ('GENERAL BUSINESS', 'Business', 190183, 0.072861468),
 ('BUSINESS MANAGEMENT AND ADMINISTRATION',
  'Business',
  276234,
  0.07221834099999999),
 ('MARKETING AND MARKETING RESEARCH',
  'Business',
  178862,
  0.061215064000000007),
 ('HUMAN RESOURCES AND PERSONNEL MANAGEMENT', 'Business', 20760, 0.059569649),
 ('COMMERCIAL ART AND GRAPHIC DESIGN', 'Arts', 83483, 0.096797577),
 ('TREATMENT THERAPY PROFESSIONS', 'Health', 37861, 0.059821207),
 ('HOSPITALITY MANAGEMENT', 'Business', 36728, 0.061169193),
 ('GENERAL MEDICAL AND HEALTH SERVICES', 'Health', 24406, 0.082101621),
 ('FILM VIDEO AND PHOTOGRAPHIC ARTS', 'Arts', 31433, 0.10577224),
 ('MUSIC', 'Arts', 47662, 0.075959674),
 ('FINE ARTS', 'Arts', 59679, 0.084186296),
 ('COMMUNICATION DISORDERS SCIENCES AND SERVICES',
  'Health',
  29763,
  0.047583999999999994),
 ('DRAMA AND THEATER ARTS', 'Arts', 36165, 0.07754113)]

In [7]:
# Return the first 10 values in the Major column in reverse alphabetical order.
query = "SELECT Major FROM recent_grads ORDER BY Major DESC LIMIT 10;"
cursor.execute(query)
results = cursor.fetchall()

results

[('ZOOLOGY',),
 ('VISUAL AND PERFORMING ARTS',),
 ('UNITED STATES HISTORY',),
 ('TREATMENT THERAPY PROFESSIONS',),
 ('TRANSPORTATION SCIENCES AND TECHNOLOGIES',),
 ('THEOLOGY AND RELIGIOUS VOCATIONS',),
 ('TEACHER EDUCATION: MULTIPLE LEVELS',),
 ('STUDIO ARTS',),
 ('STATISTICS AND DECISION SCIENCE',),
 ('SPECIAL NEEDS EDUCATION',)]

In [8]:
# A query that orders the majors by Major in ascending order, then by Median salary in descending order.
query = "SELECT Major_category,Median,Major FROM recent_grads ORDER BY Major ASC,Median DESC LIMIT 20;"
cursor.execute(query)
results = cursor.fetchall()

results

[('Business', 45000, 'ACCOUNTING'),
 ('Business', 62000, 'ACTUARIAL SCIENCE'),
 ('Communications & Journalism', 35000, 'ADVERTISING AND PUBLIC RELATIONS'),
 ('Engineering', 60000, 'AEROSPACE ENGINEERING'),
 ('Agriculture & Natural Resources', 40000, 'AGRICULTURAL ECONOMICS'),
 ('Agriculture & Natural Resources',
  40000,
  'AGRICULTURE PRODUCTION AND MANAGEMENT'),
 ('Agriculture & Natural Resources', 30000, 'ANIMAL SCIENCES'),
 ('Humanities & Liberal Arts', 28000, 'ANTHROPOLOGY AND ARCHEOLOGY'),
 ('Computers & Mathematics', 45000, 'APPLIED MATHEMATICS'),
 ('Engineering', 54000, 'ARCHITECTURAL ENGINEERING'),
 ('Engineering', 40000, 'ARCHITECTURE'),
 ('Humanities & Liberal Arts', 35000, 'AREA ETHNIC AND CIVILIZATION STUDIES'),
 ('Education', 32100, 'ART AND MUSIC EDUCATION'),
 ('Humanities & Liberal Arts', 31000, 'ART HISTORY AND CRITICISM'),
 ('Physical Sciences', 62000, 'ASTRONOMY AND ASTROPHYSICS'),
 ('Physical Sciences', 35000, 'ATMOSPHERIC SCIENCES AND METEOROLOGY'),
 ('Biology & Life Science', 37400, 'BIOCHEMICAL SCIENCES'),
 ('Engineering', 57100, 'BIOLOGICAL ENGINEERING'),
 ('Biology & Life Science', 33400, 'BIOLOGY'),
 ('Engineering', 60000, 'BIOMEDICAL ENGINEERING')]