We can interact with a SQLite database in two main ways:
* Through the SQLite Python module
* Through the SQLite shell

In this mission, we'll focus on learning how to use the [SQLite Python module](https://docs.python.org/3/library/sqlite3.html) to interact with the database.

Python 2.5 and up come with the sqlite module, which means we don't need to install any separate libraries to get started.

Specifically, we'll be working with the sqlite3 Python module, which was developed to work with [SQLite version 3](https://www.sqlite.org/version3.html).

In [1]:
# Import the sqlite3 library into the environment.
import sqlite3

The connect() function returns a [Connection instance](https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection), which maintains the connection to the database we want to work with.

When we're connected to a database, SQLite locks the database file and prevents any other processes from connecting to the database simultaneously.

In [2]:
# Use the sqlite3.connect() function to connect to jobs.db
conn = sqlite3.connect("jobs.db")

While we use the Connection class to represent the database we're working with, we use the [Cursor class](https://docs.python.org/3/library/sqlite3.html#cursor-objects) to:
* Run a query against the database
* Parse the results from the database
* Convert the results to native Python objects
* Store the results within the Cursor instance as a local variable

After running a query and converting the results to a list of **tuples**, the Cursor instance stores the list as a local variable.

A [tuple](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) is a core data structure that Python uses to represent a sequence of values, similar to a list. Unlike lists, tuples are immutable, which means we can't modify existing ones.

Python represents each row in the results set as a tuple.

t = ('Apple', 'Banana')  
apple = t[0]  
banana = t[1]

**Tuples** are faster than lists, so they're helpful with larger databases and larger results sets.

In [3]:
# A Cursor instance corresponding to the database we want to query.
cursor = conn.cursor()

In [4]:
# SQL Query as a string
query = "select * from recent_grads;"

# Execute the query, convert the results to tuples, and store as a local variable
cursor.execute(query)

# Fetch the full results set as a list of tuples
results = cursor.fetchall()

# Display the first three results
print(results[0:3])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0)]

In [5]:
# A query that returns all of the values in the Major column from the recent_grads table.
query = "SELECT Major FROM recent_grads;"
cursor.execute(query)

# Store the full results set (a list of tuples) in majors.
majors = cursor.fetchall()

print(type(majors))
print(type(majors[0]))

# Print the first three tuples in majors.
print(majors[0:3])

<class 'list'>
<class 'tuple'>
[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

The SQLite library actually allows us to skip creating a Cursor altogether by using the execute method within the Connection object itself.

In [6]:
query = "select * from recent_grads;"
results = conn.execute(query).fetchall()

print(results[0:3])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0)]

In [7]:
query = "SELECT Major,Major_category FROM recent_grads;"
cursor.execute(query)

first_result = cursor.fetchone()
second_result = cursor.fetchone()
next_five_results = cursor.fetchmany(5)

print(first_result)
print(second_result)
print(next_five_results)

('PETROLEUM ENGINEERING', 'Engineering')
('MINING AND MINERAL ENGINEERING', 'Engineering')
[('METALLURGICAL ENGINEERING', 'Engineering'), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'), ('CHEMICAL ENGINEERING', 'Engineering'), ('NUCLEAR ENGINEERING', 'Engineering'), ('ACTUARIAL SCIENCE', 'Business')]

In [8]:
# Close the connection to the database
conn.close()

In [9]:
# Connect to the database jobs2.db, which contains the same data as jobs.db.
conn = sqlite3.connect("jobs2.db")
cursor = conn.cursor()

# A query that returns all of the majors (Major) in reverse alphabetical order (Z to A).
query = "SELECT Major FROM recent_grads ORDER BY Major DESC;"
cursor.execute(query)

# Assign the full result set to reverse_alphabetical.
reverse_alphabetical = cursor.fetchall()

# Finally, close the connection to the database.
conn.close()

reverse_alphabetical

[('ZOOLOGY',),
 ('VISUAL AND PERFORMING ARTS',),
 ('UNITED STATES HISTORY',),
 ('TREATMENT THERAPY PROFESSIONS',),
 ('TRANSPORTATION SCIENCES AND TECHNOLOGIES',),
 ('THEOLOGY AND RELIGIOUS VOCATIONS',),
 ('TEACHER EDUCATION: MULTIPLE LEVELS',),
 ('STUDIO ARTS',),
 ('STATISTICS AND DECISION SCIENCE',),
 ('SPECIAL NEEDS EDUCATION',),
 ('SOIL SCIENCE',),
 ('SOCIOLOGY',),
 ('SOCIAL WORK',),
 ('SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION',),
 ('SOCIAL PSYCHOLOGY',),
 ('SECONDARY TEACHER EDUCATION',),
 ('SCIENCE AND COMPUTER TEACHER EDUCATION',),
 ('SCHOOL STUDENT COUNSELING',),
 ('PUBLIC POLICY',),
 ('PUBLIC ADMINISTRATION',),
 ('PSYCHOLOGY',),
 ('PRE-LAW AND LEGAL STUDIES',),
 ('POLITICAL SCIENCE AND GOVERNMENT',),
 ('PLANT SCIENCE AND AGRONOMY',),
 ('PHYSIOLOGY',),
 ('PHYSICS',),
 ('PHYSICAL SCIENCES',),
 ('PHYSICAL FITNESS PARKS RECREATION AND LEISURE',),
 ('PHYSICAL AND HEALTH EDUCATION TEACHING',),
 ('PHILOSOPHY AND RELIGIOUS STUDIES',),
 ('PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION',),
 ('PHARMACOLOGY',),
 ('PETROLEUM ENGINEERING',),
 ('OTHER FOREIGN LANGUAGES',),
 ('OPERATIONS LOGISTICS AND E-COMMERCE',),
 ('OCEANOGRAPHY',),
 ('NUTRITION SCIENCES',),
 ('NURSING',),
 ('NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL TECHNOLOGIES',),
 ('NUCLEAR ENGINEERING',),
 ('NEUROSCIENCE',),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING',),
 ('NATURAL RESOURCES MANAGEMENT',),
 ('MUSIC',),
 ('MULTI/INTERDISCIPLINARY STUDIES',),
 ('MULTI-DISCIPLINARY OR GENERAL SCIENCE',),
 ('MOLECULAR BIOLOGY',),
 ('MISCELLANEOUS SOCIAL SCIENCES',),
 ('MISCELLANEOUS PSYCHOLOGY',),
 ('MISCELLANEOUS HEALTH MEDICAL PROFESSIONS',),
 ('MISCELLANEOUS FINE ARTS',),
 ('MISCELLANEOUS ENGINEERING TECHNOLOGIES',),
 ('MISCELLANEOUS ENGINEERING',),
 ('MISCELLANEOUS EDUCATION',),
 ('MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION',),
 ('MISCELLANEOUS BIOLOGY',),
 ('MISCELLANEOUS AGRICULTURE',),
 ('MINING AND MINERAL ENGINEERING',),
 ('MILITARY TECHNOLOGIES',),
 ('MICROBIOLOGY',),
 ('METALLURGICAL ENGINEERING',),
 ('MEDICAL TECHNOLOGIES TECHNICIANS',),
 ('MEDICAL ASSISTING SERVICES',),
 ('MECHANICAL ENGINEERING RELATED TECHNOLOGIES',),
 ('MECHANICAL ENGINEERING',),
 ('MATHEMATICS TEACHER EDUCATION',),
 ('MATHEMATICS AND COMPUTER SCIENCE',),
 ('MATHEMATICS',),
 ('MATERIALS SCIENCE',),
 ('MATERIALS ENGINEERING AND MATERIALS SCIENCE',),
 ('MASS MEDIA',),
 ('MARKETING AND MARKETING RESEARCH',),
 ('MANAGEMENT INFORMATION SYSTEMS AND STATISTICS',),
 ('LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE',),
 ('LIBRARY SCIENCE',),
 ('LIBERAL ARTS',),
 ('LANGUAGE AND DRAMA EDUCATION',),
 ('JOURNALISM',),
 ('INTERNATIONAL RELATIONS',),
 ('INTERNATIONAL BUSINESS',),
 ('INTERDISCIPLINARY SOCIAL SCIENCES',),
 ('INTERCULTURAL AND INTERNATIONAL STUDIES',),
 ('INFORMATION SCIENCES',),
 ('INDUSTRIAL PRODUCTION TECHNOLOGIES',),
 ('INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY',),
 ('INDUSTRIAL AND MANUFACTURING ENGINEERING',),
 ('HUMANITIES',),
 ('HUMAN SERVICES AND COMMUNITY ORGANIZATION',),
 ('HUMAN RESOURCES AND PERSONNEL MANAGEMENT',),
 ('HOSPITALITY MANAGEMENT',),
 ('HISTORY',),
 ('HEALTH AND MEDICAL PREPARATORY PROGRAMS',),
 ('HEALTH AND MEDICAL ADMINISTRATIVE SERVICES',),
 ('GEOSCIENCES',),
 ('GEOLOGY AND EARTH SCIENCE',),
 ('GEOLOGICAL AND GEOPHYSICAL ENGINEERING',),
 ('GEOGRAPHY',),
 ('GENETICS',),
 ('GENERAL SOCIAL SCIENCES',),
 ('GENERAL MEDICAL AND HEALTH SERVICES',),
 ('GENERAL ENGINEERING',),
 ('GENERAL EDUCATION',),
 ('GENERAL BUSINESS',),
 ('GENERAL AGRICULTURE',),
 ('FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES',),
 ('FORESTRY',),
 ('FOOD SCIENCE',),
 ('FINE ARTS',),
 ('FINANCE',),
 ('FILM VIDEO AND PHOTOGRAPHIC ARTS',),
 ('FAMILY AND CONSUMER SCIENCES',),
 ('ENVIRONMENTAL SCIENCE',),
 ('ENVIRONMENTAL ENGINEERING',),
 ('ENGLISH LANGUAGE AND LITERATURE',),
 ('ENGINEERING TECHNOLOGIES',),
 ('ENGINEERING MECHANICS PHYSICS AND SCIENCE',),
 ('ENGINEERING AND INDUSTRIAL MANAGEMENT',),
 ('ELEMENTARY EDUCATION',),
 ('ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLOGIES AND PRODUCTION',),
 ('ELECTRICAL ENGINEERING TECHNOLOGY',),
 ('ELECTRICAL ENGINEERING',),
 ('EDUCATIONAL PSYCHOLOGY',),
 ('EDUCATIONAL ADMINISTRATION AND SUPERVISION',),
 ('ECONOMICS',),
 ('ECOLOGY',),
 ('EARLY CHILDHOOD EDUCATION',),
 ('DRAMA AND THEATER ARTS',),
 ('CRIMINOLOGY',),
 ('CRIMINAL JUSTICE AND FIRE PROTECTION',),
 ('COURT REPORTING',),
 ('COUNSELING PSYCHOLOGY',),
 ('COSMETOLOGY SERVICES AND CULINARY ARTS',),
 ('CONSTRUCTION SERVICES',),
 ('COMPUTER SCIENCE',),
 ('COMPUTER PROGRAMMING AND DATA PROCESSING',),
 ('COMPUTER NETWORKING AND TELECOMMUNICATIONS',),
 ('COMPUTER ENGINEERING',),
 ('COMPUTER AND INFORMATION SYSTEMS',),
 ('COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY',),
 ('COMPOSITION AND RHETORIC',),
 ('COMMUNITY AND PUBLIC HEALTH',),
 ('COMMUNICATIONS',),
 ('COMMUNICATION TECHNOLOGIES',),
 ('COMMUNICATION DISORDERS SCIENCES AND SERVICES',),
 ('COMMERCIAL ART AND GRAPHIC DESIGN',),
 ('COGNITIVE SCIENCE AND BIOPSYCHOLOGY',),
 ('CLINICAL PSYCHOLOGY',),
 ('CIVIL ENGINEERING',),
 ('CHEMISTRY',),
 ('CHEMICAL ENGINEERING',),
 ('BUSINESS MANAGEMENT AND ADMINISTRATION',),
 ('BUSINESS ECONOMICS',),
 ('BOTANY',),
 ('BIOMEDICAL ENGINEERING',),
 ('BIOLOGY',),
 ('BIOLOGICAL ENGINEERING',),
 ('BIOCHEMICAL SCIENCES',),
 ('ATMOSPHERIC SCIENCES AND METEOROLOGY',),
 ('ASTRONOMY AND ASTROPHYSICS',),
 ('ART HISTORY AND CRITICISM',),
 ('ART AND MUSIC EDUCATION',),
 ('AREA ETHNIC AND CIVILIZATION STUDIES',),
 ('ARCHITECTURE',),
 ('ARCHITECTURAL ENGINEERING',),
 ('APPLIED MATHEMATICS',),
 ('ANTHROPOLOGY AND ARCHEOLOGY',),
 ('ANIMAL SCIENCES',),
 ('AGRICULTURE PRODUCTION AND MANAGEMENT',),
 ('AGRICULTURAL ECONOMICS',),
 ('AEROSPACE ENGINEERING',),
 ('ADVERTISING AND PUBLIC RELATIONS',),
 ('ACTUARIAL SCIENCE',),
 ('ACCOUNTING',)]